@mixin alert-base {
  display: flex;
  flex-direction: column;
  position:  relative;
  padding: var(--alert-padding);
  margin: var(--alert-margin);
  border-radius: var(--alert-border-radius);
  border: var(--alert-border);
  background:  var(--bg-color);
  width: var(--alert-width);
  box-shadow: var(--alert-box-shadow);

  .alert-header {padding: var(--alert-header-padding);}
  .alert-body {padding: var(--alert-body-padding);}
  .alert-footer {padding: var(--alert-footer-padding);}
}
.alert-container {
  position:  fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction:  column;
  padding-inline: var(--alert-container-padding-inline);
}
.alert {
  @include alert-base;
  animation: var(--alert-animation);

  &-keep {
    @include alert-base;
    animation: var(--alert-ke98ep-animation-in);
  }
}