// Badge group
.badge-group{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--badge-group-gap);
}

// Badge
.badge {
  padding: var(--badge-padding);
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;


  &-sm {
    @extend .badge;
    padding: var(--badge-padding-sm);
  }

  &-md {
    @extend .badge;
    padding: var(--badge-padding-md);
  }

  &-lg {
    @extend .badge;
    padding: var(--badge-padding-lg);
  }
}