.badge-group{
  display: flex;
  flex-wrap: wrap;
  gap: var(--badge-group-gap);
}

.badge {
  padding: var(--badge-padding);
  border-radius: var(--badge-border-radius);
  white-space: nowrap;


  &-sm {
    @extend .badge;
    padding: var(--badge-padding-sm);
  }

  &-md {
    @extend .badge;
    padding: var(--badge-padding-md);
  }

  &-lg {
    @extend .badge;
    padding: var(--badge-padding-lg);
  }
}