// Button group
.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--button-group-gap);
}

// Button
.btn {
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:not([class*="outline-"]) {
    border: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &-sm {
    @extend .btn;
    padding: var(--button-padding-sm);
  }

  &-md {
    @extend .btn;
    padding: var(--button-padding-md);
  }

  &-lg {
    @extend .btn;
    padding: var(--button-padding-lg);
  }
}