.dialog {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: fixed;
  border: var(--dialog-border);
  width: var(--dialog-width);
  padding:  var(--dialog-padding);
  border-radius: var(--dialog-border-radius);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity .25s ease, transform .25s ease;



  &::backdrop {
    background: rgba(0, 0, 0, 0);
    transition: background .25s ease;
  }

  .dialog-header {padding: var(--dialog-header-padding);}
  .dialog-body {padding:  var(--dialog-body-padding);}
  .dialog-footer {padding: var(--dialog-footer-padding);}


  &[open] {
    &.show{
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.show::backdrop {background: var(--dialog-backdrop-color);}
}




