@mixin dropdown-base {
  height: 0;
  overflow: hidden;
}

@mixin dropdown-overlay {
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

.dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown {
  @include dropdown-base;

  &-overlay {
    @include dropdown-base;
    @include dropdown-overlay;
    left: 0;

    &-right {
      @include dropdown-base;
      @include dropdown-overlay;
      right: 0;
    }

    &-left {
      @include dropdown-base;
      @include dropdown-overlay;
      left: 0;
    }
  }

  &.show {
    height: auto;
    overflow: visible;
  }
}