//.input[type="image"]
//.input[type="hidden"]
//.input[type="submit"]
//.input[type="reset"]
//.input[type="button"]

@mixin input-base {
  border: var(--input-border);
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  margin: var(--input-margin);

  /* Placeholder */
  &::placeholder {
    color: var(--input-placeholder-color);
  }

  /* Focus ring */
  &:focus {
    border-color: var(--primary-color);
    box-shadow: var(--input-box-shadow-focus);
    outline: none;
  }
}

@mixin input-color-base {
  @include input-base;
  padding: 0;
  cursor: pointer;
  display: block;

  &::-webkit-color-swatch {
    border-radius: var(--border-radius);
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: .4rem;
  }
}

@mixin input-range-base {
  @include input-base;
  @include accent-color;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 100%;
  height: var(--input-height);
  background: transparent;
  border: none;
  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--range-size);
    cursor: pointer;
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
    border-radius: var(--border-radius);
  }

  /* Pour Firefox */
  &::-moz-range-track {
    width: 100%;
    height: var(--range-size);
    cursor: pointer;
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
    border-radius: var(--border-radius);
  }

  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: calc(var(--range-size) * 2);
    width: calc(var(--range-size) * 2);
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    margin-top: calc((var(--range-size) - (var(--range-size) * 2)) / 2);
  }

  /* Pour Firefox */
  &::-moz-range-thumb {
    height: calc(var(--range-size) * 2);
    width: calc(var(--range-size) * 2);
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    margin-top: calc((var(--range-size) - (var(--range-size) * 2)) / 2);
  }
}

@mixin accent-color {
    accent-color: var(--primary-color);
    /* Remove focus outline artifacts on range */
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
}

.form-inline {
  gap: var(--gap-form);
  display: flex;
  align-items: center;
  max-width: 100%;

  label {
    text-wrap: nowrap;
  }
}

/* Required field marker */
label.required::after {
  content: ' *';
  color: var(--danger-color);
}

/* Base text controls: select */
select.select {
  @include input-base;
  height: var(--input-height);
  padding: var(--select-padding);
  width: 100%;

  &-sm {
    @extend .select;
    height: var(--input-height-sm);
  }

  &-md {
    @extend .select;
    height: var(--input-height-md);
  }

  &-lg {
    @extend .select;
    height: var(--input-height-lg);
  }
}

/* Base text controls: textarea */
textarea.textarea {
  @include input-base;
  padding: var(--textarea-padding);
  width: 100%;
}

/* Base text controls: input*/
input[type="datetime"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"] {
  &.input {
    @include input-base;
    height: var(--input-height);
    padding: var(--input-padding);
    width:  100%;

    &-sm {
      @include input-base;
      padding: var(--input-padding);
      height: var(--input-height-sm);
      width:  100%;
    }
    &-md {
      @include input-base;
      padding: var(--input-padding);
      height: var(--input-height-md);
      width:  100%;
    }
    &-lg {
      @include input-base;
      padding: var(--input-padding);
      height: var(--input-height-lg);
      width:  100%;
    }
  }
}

/* File input (native button styling)*/
input[type="file"]{
  &.input,
  &.input-sm,
  &.input-md,
  &.input-lg {
    padding-left: 0;

    &::-webkit-file-upload-button,
    &::file-selector-button {
      background-color: var(--primary-color);
      border-radius: var(--border-radius);
      color: var(--text-on-primary);
      border: none;
      height: 100%;
      align-items: self-start;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

/* Color input */
input[type="color"] {
  &.input{
    @include input-color-base;
    height: var(--input-height);
    &-sm {
      @include input-color-base;
      height: var(--input-height-sm);
    }
    &-md {
      @include input-color-base;
      height: var(--input-height-md);
    }
    &-lg {
      @include input-color-base;
      height: var(--input-height-lg);
    }
  }
}

/* Range input */
input[type="range"] {
  &.input {
    @include input-range-base;
    &-sm {
      @include input-range-base;
      height: var(--input-height-sm);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-sm);
      }

      &::-moz-range-track {
        height: var(--range-size-sm);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-sm) * 2);
        width: calc(var(--range-size-sm) * 2);
        margin-top: calc((var(--range-size-sm) - (var(--range-size-sm) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-sm) * 2);
        width: calc(var(--range-size-sm) * 2);
        margin-top: calc((var(--range-size-sm) - (var(--range-size-sm) * 2)) / 2);
      }
    }
    &-md {
      @include input-range-base;
      height: var(--input-height-md);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-md);
      }

      &::-moz-range-track {
        height: var(--range-size-md);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-md) * 2);
        width: calc(var(--range-size-md) * 2);
        margin-top: calc((var(--range-size-md) - (var(--range-size-md) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-md) * 2);
        width: calc(var(--range-size-md) * 2);
        margin-top: calc((var(--range-size-md) - (var(--range-size-md) * 2)) / 2);
      }
    }
    &-lg {
      @include input-range-base;
      height: var(--input-height-lg);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-lg);
      }

      &::-moz-range-track {
        height: var(--range-size-lg);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-lg) * 2);
        width: calc(var(--range-size-lg) * 2);
        margin-top: calc((var(--range-size-lg) - (var(--range-size-lg) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-lg) * 2);
        width: calc(var(--range-size-lg) * 2);
        margin-top: calc((var(--range-size-lg) - (var(--range-size-lg) * 2)) / 2);
      }
    }
  }
}

/* Radio and Checkbox */
input[type="radio"],
input[type="checkbox"]{
  &.input{
    @include input-base;
    @include accent-color;
    display: block;
    width: var(--input-size);
    height: var(--input-height);

    &-sm {
      @include input-base;
      @include accent-color;
      display: block;
      height: var(--input-height-sm);
      width: var(--input-size-sm);
    }
    &-md {
      @include input-base;
      @include accent-color;
      display: block;
      height: var(--input-height-md);
      width: var(--input-size-md);
    }
    &-lg {
      @include input-base;
      @include accent-color;
      display: block;
      height: var(--input-height-lg);
      width: var(--input-size-lg);
    }
  }
}


/* Switch */
.wrapper-switch {
  align-content: center;
  margin-block: .5rem;
  height: var(--input-height);

  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;

    input {
      display: none;
    }

    .slider {
      background-color: var(--switch-bg-color);
      border: .1rem solid var(--switch-border-color);
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .3s;
      transition: .3s;

      &:before {
        background-color: var(--switch-btn-color);
        position: absolute;
        content: "";
        height: 1.1rem;
        width: 1.1rem;
        left: .1rem;
        bottom: .1rem;
        -webkit-transition: .3s;
        transition: .3s;
      }

      &.rounded-pill {
        border-radius: 10rem;

        &:before {
          border-radius: 50%;
        }
      }
    }

    input:checked + .slider:before {
      -ms-transform: translateX(1.5rem);
      transform: translateX(1.5rem);
    }

    input:checked + .slider {
      background-color: var(--primary-color);
    }
  }

  // size of switch
  &-sm {
    @extend .wrapper-switch;
    height: var(--input-height-sm);

    .switch {
      width: calc(var(--switch-size-sm) * 2);
      height: var(--switch-size-sm);

      .slider:before {
        width: calc(var(--switch-size-sm) - .4rem);
        height: calc(var(--switch-size-sm) - .4rem);
      }

      input:checked + .slider:before {
        -ms-transform: translateX(var(--switch-size-sm));
        transform: translateX(var(--switch-size-sm));
      }
    }
  }

  &-md {
    @extend .wrapper-switch;
    height: var(--input-height-md);

    .switch {
      width: calc(var(--switch-size-md) * 2);
      height: var(--switch-size-md);

      .slider:before {
        width: calc(var(--switch-size-md) - .4rem);
        height: calc(var(--switch-size-md) - .4rem);
      }

      input:checked + .slider:before {
        -ms-transform: translateX(var(--switch-size-md));
        transform: translateX(var(--switch-size-md));
      }
    }
  }

  &-lg {
    @extend .wrapper-switch;
    height: var(--input-height-lg);

    .switch {
      width: calc(var(--switch-size-lg) * 2);
      height: var(--switch-size-lg);

      .slider:before {
        width: calc(var(--switch-size-lg) - .4rem);
        height: calc(var(--switch-size-lg) - .4rem);
      }

      input:checked + .slider:before {
        -ms-transform: translateX(var(--switch-size-lg));
        transform: translateX(var(--switch-size-lg));
      }
    }
  }
}







