// List ul
.ul {
  list-style: none;
  border-radius: var(--ul-border-radius);
}

// List ol
.ol {
  list-style-type: decimal;
  border-radius: var(--ol-border-radius);
}

// List li
.li {
  padding: var(--list-padding);


  &-sm {
    padding: var(--list-padding-sm);
  }

  &-md {
    padding: var(--list-padding-md);
  }

  &-lg {
    padding: var(--list-padding-lg);
  }
}

// List li nav
.li-nav {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: var(--list-nav-height);
  padding: var(--list-nav-padding);

  & * {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:hover {
    background: var(--list-nav-hover-bg-color);
  }

  &-sm {
    @extend .li-nav;
    height: var(--list-nav-height-sm);
    padding: var(--list-nav-padding-sm);
  }

  &-md {
    @extend .li-nav;
    height: var(--list-nav-height-md);
    padding:  var(--list-nav-padding-md);
  }

  &-lg {
    @extend .li-nav;
    height: var(--list-nav-height-lg);
    padding: var(--list-nav-padding-lg);
  }

}




