.ul{
  list-style: none;
  border-radius: var(--border-radius);
}

.li{
  padding:  var(--list-padding);

  &-sm{padding: var(--list-padding-sm);}
  &-md{padding: var(--list-padding-md);}
  &-lg{padding: var(--list-padding-lg);}
}

.li-nav{
  padding: var(--list-padding);
  width: 100%;
  cursor: pointer;

  &:hover{
    background: var(--list-nav-hover-bg-color);
  }

  &-sm{
    @extend .li-nav;
    padding: var(--list-padding-sm);
  }
  &-md{
    @extend .li-nav;
    padding: var(--list-padding-md);
  }
  &-lg{
    @extend .li-nav;
    padding: var(--list-padding-lg);
  }

}




