.tab {
  display: flex;
  gap: var(--tab-gap);
  overflow-x: scroll;

}

.tab-content {
  display: none;
  border-radius: var(--border-radius);
  padding: var(--tab-padding);
  border: var(--tab-border);

  &.show {
    display: block;
  }

}