// Tab
.tab {
  display: flex;
  overflow-x: auto;
  gap: var(--tab-gap);
}

// Tab content
.tab-content {
  display: none;
  border: var(--tab-border);
  padding: var(--tab-padding);
  border-radius: var(--tab-border-radius);

  &.show {
    display: block;
  }

}