/* Gray shades */
$grays: (0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000);


/* Gray classes */
@each $shade in $grays {
  .bg-gray-#{$shade} {
    background-color: var(--gray-#{$shade});
  }
  .border-gray-#{$shade} {
    border-color: var(--gray-#{$shade});
  }
  .text-gray-#{$shade} {
    color: var(--gray-#{$shade});
  }
}

/* Main colors */
$colors: (
  // Regular
        "primary": var(--primary-color),
        "secondary": var(--secondary-color),
        "tertiary": var(--tertiary-color),
        "success": var(--success-color),
        "info": var(--info-color),
        "warning": var(--warning-color),
        "danger": var(--danger-color),
        "neutral": var(--neutral-color),
        "light": var(--light-color),
        "dark": var(--dark-color),
        "black": var(--black-color),
        "white": var(--white-color),
  // Light
        "primary-light": var(--primary-color-light),
        "secondary-light": var(--secondary-color-light),
        "tertiary-light": var(--tertiary-color-light),
        "success-light": var(--success-color-light),
        "info-light": var(--info-color-light),
        "warning-light": var(--warning-color-light),
        "danger-light": var(--danger-color-light),
        "neutral-light": var(--neutral-color-light),
        "light-light": var(--light-color-light),
        "dark-light": var(--dark-color-light),
  // Dark
        "primary-dark": var(--primary-color-dark),
        "secondary-dark": var(--secondary-color-dark),
        "tertiary-dark": var(--tertiary-color-dark),
        "success-dark": var(--success-color-dark),
        "info-dark": var(--info-color-dark),
        "warning-dark": var(--warning-color-dark),
        "danger-dark": var(--danger-color-dark),
        "neutral-dark": var(--neutral-color-dark),
        "light-dark": var(--light-color-dark),
        "dark-dark": var(--dark-color-dark),
  // Pastel
        "primary-pastel": var(--primary-color-pastel),
        "secondary-pastel": var(--secondary-color-pastel),
        "tertiary-pastel": var(--tertiary-color-pastel),
        "success-pastel": var(--success-color-pastel),
        "info-pastel": var(--info-color-pastel),
        "warning-pastel": var(--warning-color-pastel),
        "danger-pastel": var(--danger-color-pastel),
        "neutral-pastel": var(--neutral-color-pastel),
        "light-pastel": var(--light-color-pastel),
        "dark-pastel": var(--dark-color-pastel),
  // Night
        "primary-night": var(--primary-color-night),
        "secondary-night": var(--secondary-color-night),
        "tertiary-night": var(--tertiary-color-night),
        "success-night": var(--success-color-night),
        "info-night": var(--info-color-night),
        "warning-night": var(--warning-color-night),
        "danger-night": var(--danger-color-night),
        "neutral-night": var(--neutral-color-night),
        "light-night": var(--light-color-night),
        "dark-night": var(--dark-color-night),
);


/* Box shadow */
.box-shadow {
  box-shadow: var(--box-shadow);
}


/* Accordion */
@each $name, $value in $colors {
  .accordion-#{$name} {
    border-color: #{$value};

    .accordion-btn,
    .accordion-btn-sm,
    .accordion-btn-md,
    .accordion-btn-lg {
      --accordion-border-color: #{$value};
    }
  }
}

/* Alerts */
@each $name, $value in $colors {
  .alert-#{$name} {
    border-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark) 10%);
    background: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Badges  */
@each $name, $value in $colors {
  .badge-#{$name} {
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Buttons */
@each $name, $value in $colors {
  .btn-#{$name} {
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Card */
@each $name, $value in $colors {
  .card-#{$name} {
    background-color: #{$value};
    border-color: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Collapse */
@each $name, $value in $colors {
  .collapse-#{$name} {
    border-color: #{$value};
  }
}

/* Background */
.bg-base {
    background-color: var(--bg-color);
}
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}


/* Borders */
@each $name, $value in $colors {
  .border-#{$name} {
    border-color: #{$value} !important;
  }
}


.btn,
.btn-sm,
.btn-md,
.btn-lg {
  &:hover {
    background-color: var(--button-hover-bg-color);

    &:active {
      background-color: var(--button-active-bg-color);
    }
  }
}

@each $name, $value in $colors {
  .btn-#{$name}:hover {
    background-color: var(--hover-on-#{$name});

    &:active,
    &.active {
      background-color: var(--active-on-#{$name});
      color: var(--text-on-#{$name});
    }
  }
}


.btn,
.btn-sm,
.btn-md,
.btn-lg,
.tab-btn,
.tab-btn-sm,
.tab-btn-md,
.tab-btn-lg {
  @each $name, $value in $colors {
    &.outline-#{$name} {
      background-color: transparent;
      color: #{$value};
      border-color: #{$value};
      border-style: var(--border-style-outline);
      border-width: var(--border-width-outline);
    }
    &.outline-#{$name}:hover,
    &.outline-#{$name}.active {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &:active {
        background-color: var(--active-on-#{$name});
        color: var(--text-on-#{$name});
      }
    }
  }
}


/* List */
@mixin list-hover-default {
  background-color: var(--list-item-hover-bg-color);
  box-shadow: inset var(--list-border-width-inside-hover) 0 0 0 var(--list-item-hover-bg-color);

  &:active {
    background-color: var(--list-item-active-bg-color);
    box-shadow: inset var(--list-border-width-inside-hover) 0 0 0 var(--list-item-active-bg-color);
  }
}
@mixin list-hover-color($name, $value) {
  background-color: color-mix(in srgb, #{$value} 15%, transparent);
  box-shadow: inset var(--list-border-width-inside-hover) 0 0 0 #{$value};
  &:active {
    background-color: color-mix(in srgb, #{$value} 30%, transparent);
    box-shadow: inset var(--list-border-width-inside-hover) 0 0 0 #{$value};
  }
}
@each $name, $value in $colors {
  .list-#{$name} {
    border-color: color-mix(in srgb, #{$value} 50%, transparent);
    color: #{$value};

    .list-item {
      border-color: color-mix(in srgb, #{$value} 50%, transparent);
    }
  }
}
.list,
.list-sm,
.list-md,
.list-lg {
  &.list-hover {
    .list-item:hover {
      @include list-hover-default;
    }

    @each $name, $value in $colors {
      &.list-#{$name} .list-item:not(.list-hover):hover {
        @include list-hover-color($name, $value);
      }
      .list-item.list-#{$name}:hover {
        @include list-hover-color($name, $value);
      }
    }
  }

  .list-hover.list-item:hover {
    @include list-hover-default;
  }

  @each $name, $value in $colors {
    &.list-#{$name} .list-item:not(.list-hover):hover {
      @include list-hover-color($name, $value);
    }
    .list-item.list-#{$name}.list-hover:hover {
      @include list-hover-color($name, $value);
    }
  }
}



/* Generic hover behavior */
@mixin table-hover-default {
  background-color: var(--table-hover-bg-color);
  &:active,
  &.active {
    background-color: var(--table-active-bg-color);
  }
}
/* Hover behavior for colored variants */
@mixin table-hover-and-active-color($name, $value) {
  background-color: var(--hover-on-#{$name});

  &:active,
  &.active {
    background-color: var(--active-on-#{$name});
  }
}

table.table {
  /* Base table-hover behavior (no color variant) */
  &.table-hover tr:hover,
  thead.table-hover tr:hover,
  tbody.table-hover tr:hover,
  tfoot.table-hover tr:hover,
  tr.table-hover:hover,
  td.table-hover:hover,
  th.table-hover:hover {
    @include table-hover-default;
  }

  @each $name, $value in $colors {
    $text-color: var(--text-on-#{$name});

    /* Base styles for colored variants */
    &.table-#{$name},
    thead.table-#{$name},
    tbody.table-#{$name},
    tfoot.table-#{$name},
    tr.table-#{$name},
    td.table-#{$name},
    th.table-#{$name} {
      background-color: $value;
      color: $text-color;
    }

    /* Hover on colored rows */
    &.table-hover tr.table-#{$name}:hover,
    thead.table-hover tr.table-#{$name}:hover,
    tbody.table-hover tr.table-#{$name}:hover,
    tfoot.table-hover tr.table-#{$name}:hover,
    tr.table-#{$name}.table-hover:hover {
      @include table-hover-and-active-color($name, $value);
    }

    /* Hover inside colored table or section */
    &.table-#{$name}.table-hover tbody tr:not(.table-hover):hover,
    &.table-#{$name}.table-hover thead tr:not(.table-hover):hover,
    &.table-#{$name}.table-hover tfoot tr:not(.table-hover):hover,
    thead.table-#{$name}.table-hover tr:not(.table-hover):hover,
    tbody.table-#{$name}.table-hover tr:not(.table-hover):hover,
    tfoot.table-#{$name}.table-hover tr:not(.table-hover):hover {
      @include table-hover-and-active-color($name, $value);
    }

    /* Hover on colored cells when row is hovered */
    tr.table-hover:hover td.table-#{$name},
    tr.table-hover:hover th.table-#{$name},
    td.table-#{$name}.table-hover:hover,
    th.table-#{$name}.table-hover:hover {
      @include table-hover-and-active-color($name, $value);
    }
  }
}





/* Links */
@each $name, $value in $colors {
  .link-#{$name} {
    background-color: transparent;
    text-decoration: underline;
    color: #{$value};
    text-decoration-color: #{$value};

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      color: var(--hover-on-#{$name});
      text-decoration-color: var(--hover-on-#{$name});

      &:active,
      &.active {
        background-color: transparent;
        color: var(--active-on-#{$name});
        text-decoration-color: var(--active-on-#{$name});
      }
    }
  }
}


/* Navbar */
@each $name, $value in $colors {
  .navbar-#{$name} {
    background: #{$value};
    color: var(--text-on-#{$name});
  }
}


/* Text */
.text-base {
  color: var(--text-color);
}
@each $name, $value in $colors {
  .text-#{$name} {
    color: #{$value};
  }
}


