/* Gray shades */
$grays: (0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000);


/* Gray classes */
@each $shade in $grays {
  .bg-gray-#{$shade} {
    background-color: var(--gray-#{$shade});
  }
  .border-gray-#{$shade} {
    border-color: var(--gray-#{$shade});
  }
  .text-gray-#{$shade} {
    color: var(--gray-#{$shade});
  }
}


/* Main colors */
$colors: (
        "primary": var(--primary-color),
        "secondary": var(--secondary-color),
        "tertiary": var(--tertiary-color),
        "success": var(--success-color),
        "info": var(--info-color),
        "warning": var(--warning-color),
        "danger": var(--danger-color),
        "neutral": var(--neutral-color),
        "light": var(--light-color),
        "dark": var(--dark-color),
        "white": var(--white-color),
        "black": var(--black-color)
);


$table-colors: (
        "primary": var(--table-primary-color),
        "secondary": var(--table-secondary-color),
        "tertiary": var(--table-tertiary-color),
        "success": var(--table-success-color),
        "info": var(--table-info-color),
        "warning": var(--table-warning-color),
        "danger": var(--table-danger-color),
        "neutral": var(--table-neutral-color),
        "light": var(--table-light-color),
        "dark": var(--table-dark-color),
        "white": var(--table-white-color),
        "black": var(--table-black-color)
);


$list-colors: (
        "primary": var(--list-primary-color),
        "secondary": var(--list-secondary-color),
        "tertiary": var(--list-tertiary-color),
        "success": var(--list-success-color),
        "info": var(--list-info-color),
        "warning": var(--list-warning-color),
        "danger": var(--list-danger-color),
        "neutral": var(--list-neutral-color),
        "light": var(--list-light-color),
        "dark": var(--list-dark-color),
        "white": var(--list-white-color),
        "black": var(--list-black-color)
);


/* Background */
.bg {
  @each $name, $value in $colors {
    &-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});
    }
  }
}


/* Borders */
.border {
  @each $name, $value in $colors {
    &-#{$name} {
      border-color: #{$value} !important;
    }
  }
}


/* Badges and buttons */
.badge, .btn {
  @each $name, $value in $colors {
    &-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});
    }
  }
}


/* Outline versions */
.outline {
  @each $name, $value in $colors {
    &-#{$name} {
      background-color: transparent;
      border: .1rem solid #{$value};
      color: #{$value};
    }
  }
}


/* Button hover */


.btn {
  &:hover{
    background-color: rgba(0, 0, 0, 0.2);
  }
  @each $name, $value in $colors {
    &-#{$name}:hover {
      @if ($name == 'dark' or $name == 'black') {
        background-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-light));
      } @else {
        background-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-dark));
      }
      color: var(--text-on-#{$name});
    }
    &-#{$name}.active {
      @if ($name == 'dark' or $name == 'black') {
        background-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-light));
      } @else {
        background-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-dark));
      }
      color: var(--text-on-#{$name});
    }
  }
}




/* Outline hover */
.btn,
.btn-sm,
.btn-md,
.btn-lg,
.accordion-btn,
.accordion-btn-sm,
.accordion-btn-md,
.accordion-btn-lg,
.collapse-btn,
.collapse-btn-sm,
.collapse-btn-md,
.collapse-btn-lg,
.tab-btn,
.tab-btn-sm,
.tab-btn-md,
.tab-btn-lg{
  &.outline {
    @each $name, $value in $colors {
      border: var(--border-width-outline) var(--border-style-outline) #{$value};
      &-#{$name}:hover {
        background-color: #{$value};
        color: var(--text-on-#{$name});
      }
      &-#{$name}.active {
        background-color: #{$value};
        color: var(--text-on-#{$name});
      }
    }
  }
}


/* List */
.list {
  @each $name, $value in $list-colors {
    &-#{$name} {
      background-color: #{$value};
      color: var(--list-text-on-#{$name});
      border-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark)) !important;


      .list-item {
        border-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark)) !important;
      }
    }
  }
}


.list,
.list-sm,
.list-md,
.list-lg {
  &.list-hover {
    @each $name, $value in $list-colors {
      /* list-hover — hover depending on the LIST’s color */
      &.list-#{$name} .list-item:hover {
        @if ($name == 'dark' or $name == 'black') {
          background-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-light));
        } @else {
          background-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark));
        }
        color: var(--list-text-on-#{$name});
      }
      /* list-hover — hover depending on the ITEM’s color  */
      .list-item.list-#{$name}:hover {
        @if ($name == 'dark' or $name == 'black') {
          background-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-light));
        } @else {
          background-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark));
        }
        color: var(--list-text-on-#{$name});
      }
    }
  }
}








/* Tables */
table {
  &.table {
    @each $name, $value in $table-colors {
      &-#{$name} {
        background-color: #{$value};
        & * {
          color: var(--table-text-on-#{$name});
        }
      }
    }
  }


  .table {
    @each $name, $value in $table-colors {
      &-#{$name} {
        background-color: #{$value};
        & * {
          color: var(--table-text-on-#{$name});
        }
      }
    }
  }
}


/* Links */
.link {
  @each $name, $value in $colors {
    &-#{$name} {
      background-color: transparent;
      text-decoration: underline;
      color: #{$value};
      text-decoration-color: #{$value};
      &:hover {
        background-color: transparent;
        text-decoration: underline;
        @if ($name == 'dark' or $name == 'black') {
          color: color-mix(in srgb, #{$value} 75%, var(--color-mix-light));
          text-decoration-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-light));
        } @else {
          color: color-mix(in srgb, #{$value} 75%, var(--color-mix-dark));
          text-decoration-color: color-mix(in srgb, #{$value} 75%, var(--color-mix-dark));
        }
      }
    }
  }
}


/* Alerts */
.alert {
  @each $name, $value in $colors {
    &-#{$name} {
      background: #{$value};
      color: var(--text-on-#{$name});
    }
  }
}


/* Alerts */
.navbar {
  @each $name, $value in $colors {
    &-#{$name} {
      background: #{$value};
      color: var(--text-on-#{$name});
    }
  }
}


/* Text */
.text {
  @each $name, $value in $colors {
    &-#{$name} {
      color: #{$value};
    }
  }
}

