/* Gray shades */
$grays: (0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000);


/* Gray classes */
@each $shade in $grays {
  .bg-gray-#{$shade} {
    background-color: var(--gray-#{$shade});
  }
  .border-gray-#{$shade} {
    border-color: var(--gray-#{$shade});
  }
  .text-gray-#{$shade} {
    color: var(--gray-#{$shade});
  }
}

/* Main colors */
$colors: (
  // Regular
        "primary": var(--primary-color),
        "secondary": var(--secondary-color),
        "tertiary": var(--tertiary-color),
        "success": var(--success-color),
        "info": var(--info-color),
        "warning": var(--warning-color),
        "danger": var(--danger-color),
        "neutral": var(--neutral-color),
        "light": var(--light-color),
        "dark": var(--dark-color),
  // Light
        "primary-light": var(--primary-color-light),
        "secondary-light": var(--secondary-color-light),
        "tertiary-light": var(--tertiary-color-light),
        "success-light": var(--success-color-light),
        "info-light": var(--info-color-light),
        "warning-light": var(--warning-color-light),
        "danger-light": var(--danger-color-light),
        "neutral-light": var(--neutral-color-light),
        "light-light": var(--light-color-light),
        "dark-light": var(--dark-color-light),
  // Dark
        "primary-dark": var(--primary-color-dark),
        "secondary-dark": var(--secondary-color-dark),
        "tertiary-dark": var(--tertiary-color-dark),
        "success-dark": var(--success-color-dark),
        "info-dark": var(--info-color-dark),
        "warning-dark": var(--warning-color-dark),
        "danger-dark": var(--danger-color-dark),
        "neutral-dark": var(--neutral-color-dark),
        "light-dark": var(--light-color-dark),
        "dark-dark": var(--dark-color-dark),
);


/* Box shadow */
.box-shadow {
  box-shadow: var(--box-shadow);
}


/* Accordion */
@each $name, $value in $colors {
  .accordion-#{$name} {
    border-color: #{$value};
    .accordion-btn,
    .accordion-btn-sm,
    .accordion-btn-md,
    .accordion-btn-lg{
      --accordion-border-color: #{$value};
    }
  }
}

/* Alerts */
@each $name, $value in $colors {
  .alert-#{$name} {
    border-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark) 10%);
    background: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Badges  */
@each $name, $value in $colors {
  .badge-#{$name}{
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Buttons */
@each $name, $value in $colors {
  .btn-#{$name} {
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}

/* Card */
@each $name, $value in $colors {
  .card-#{$name} {
    background-color: #{$value};
    border-color: #{$value};
    color: var(--text-on-#{$name});
  }
}


/* Background */
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: #{$value};
    color: var(--text-on-#{$name});
  }
}


/* Borders */
@each $name, $value in $colors {
  .border-#{$name} {
    border-color: #{$value} !important;
  }
}



/* Button hover */
@function button-hover($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 90%, var(--color-mix-light) 10%);
  } @else {
    @return color-mix(in srgb, #{$value} 90%, var(--color-mix-dark) 10%);
  }
}

@function button-active($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-light) 20%);
  } @else {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-dark) 20%);
  }
}

.btn,
.btn-sm,
.btn-md,
.btn-lg {
  &:hover {
    background-color: var(--button-hover-bg-color);

    &:active {
      background-color: var(--button-active-bg-color);
    }
  }
}

@each $name, $value in $colors {
  .btn-#{$name}:hover {
    background-color: button-hover($name, $value);

    &:active,
    &.active {
      background-color: button-active($name, $value);
      color: var(--text-on-#{$name});
    }
  }
}


.btn,
.btn-sm,
.btn-md,
.btn-lg,
.tab-btn,
.tab-btn-sm,
.tab-btn-md,
.tab-btn-lg {
  @each $name, $value in $colors {
    &.outline-#{$name} {
      background-color: transparent;
      color: #{$value};
      border-color: #{$value};
      border-style: var(--border-style-outline);
      border-width: var(--border-width-outline);
    }
    &.outline-#{$name}:hover,
    &.outline-#{$name}.active {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &:active {
        background-color: color-mix(in srgb, #{$value} 90%, var(--color-mix-dark));
        color: var(--text-on-#{$name});
      }
    }
  }
}


/* List */
@mixin list-hover-default {
  background-color: var(--list-item-hover-bg-color);
  box-shadow: inset .5rem 0 0 0 var(--list-item-hover-bg-color);

  &:active {
    background-color: var(--list-item-active-bg-color);
    box-shadow: inset .5rem 0 0 0 var(--list-item-active-bg-color);
  }
}
@mixin list-hover-color($name, $value) {
  background-color: color-mix(in srgb, #{$value} 15%, transparent);
  box-shadow: inset .5rem 0 0 0 #{$value};
  &:active{
    background-color: color-mix(in srgb, #{$value} 30%, transparent);
    box-shadow: inset .5rem 0 0 0 #{$value};
  }
}
@each $name, $value in $colors {
  .list-#{$name} {
    border-color: color-mix(in srgb, #{$value} 50%, transparent);
    color: #{$value};

    .list-item {
      border-color: color-mix(in srgb, #{$value} 50%, transparent);
    }
  }
}

.list,
.list-sm,
.list-md,
.list-lg {
  &.list-hover {
    .list-item:hover {
      @include list-hover-default;
    }

    @each $name, $value in $colors {
      &.list-#{$name} .list-item:hover {
       @include list-hover-color($name, $value);
      }
      .list-item.list-#{$name}:hover {
        @include list-hover-color($name, $value);
      }
    }
  }

  .list-hover.list-item:hover {
    @include list-hover-default;
  }

  @each $name, $value in $colors {
    &.list-#{$name} .list-item.list-hover:hover {
      @include list-hover-color($name, $value);
    }
    .list-item.list-#{$name}.list-hover:hover {
      @include list-hover-color($name, $value);
    }
  }

}


/* Tables */
@function table-hover-bg($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 90%, var(--color-mix-light) 10%);
  } @else {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-dark) 20%);
  }
}

@function table-active-bg($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-light) 20%);
  } @else {
    @return color-mix(in srgb, #{$value} 70%, var(--color-mix-dark) 30%);
  }
}

table {
  &.table-hover tr:hover,
  thead.table-hover tr:hover,
  tbody.table-hover tr:hover,
  tfoot.table-hover tr:hover,
  tr.table-hover:hover,
  td.table-hover:hover,
  th.table-hover:hover {
    background-color: var(--table-hover-bg-color);

    &:active,
    &.active {
      background-color: var(--table-active-bg-color);
    }
  }

  @each $name, $value in $colors {

    &.table-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &.table-hover {
        tr:not([class*="table-"]):hover {
          background-color: table-hover-bg($name, $value);

          &:active,
          &.active {
            background-color: table-active-bg($name, $value);
          }
        }
      }
    }

    thead.table-#{$name},
    tbody.table-#{$name},
    tfoot.table-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &.table-hover {
        tr:not([class*="table-"]):hover {
          background-color: table-hover-bg($name, $value);

          &:active,
          &.active {
            background-color: table-active-bg($name, $value);
          }
        }
      }
    }

    tr.table-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &.table-hover:hover {
        background-color: table-hover-bg($name, $value);

        &:active,
        &.active {
          background-color: table-active-bg($name, $value);
        }
      }
    }

    td.table-#{$name},
    th.table-#{$name} {
      background-color: #{$value};
      color: var(--text-on-#{$name});

      &.table-hover:hover {
        background-color: table-hover-bg($name, $value);

        &:active,
        &.active {
          background-color: table-active-bg($name, $value);
        }
      }
    }
  }
}


/* Links */
@function link-hover($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 90%, var(--color-mix-light) 10%);
  } @else {
    @return color-mix(in srgb, #{$value} 90%, var(--color-mix-dark) 10%);
  }
}

@function link-active($name, $value) {
  @if ($name == 'dark' or $name == 'dark-light' or $name == 'dark-dark') {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-light) 20%);
  } @else {
    @return color-mix(in srgb, #{$value} 80%, var(--color-mix-dark) 20%);
  }
}

@each $name, $value in $colors {
  .link-#{$name} {
    background-color: transparent;
    text-decoration: underline;
    color: #{$value};
    text-decoration-color: #{$value};

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      color: link-hover($name, $value);
      text-decoration-color: link-hover($name, $value);

      &:active,
      &.active {
        background-color: transparent;
        color: link-active($name, $value);
        text-decoration-color: link-active($name, $value);
      }
    }
  }
}



/* Navbar */
@each $name, $value in $colors {
  .navbar-#{$name} {
    background: #{$value};
    color: var(--text-on-#{$name});
  }
}


/* Text */
@each $name, $value in $colors {
  .text-#{$name} {
    color: #{$value};
  }
}


