/* Breakpoints */
@use "../breakpoint" as bp;
$breakpoints: bp.$breakpoints;

/* Percent sizes */
$sizesPercent: (
        0: 0,
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        "auto": auto
);

/* Width & Height */
@each $key, $val in $sizesPercent {
  .w-#{$key}  { width: $val; }
  .h-#{$key}  { height: $val; }
  @if $key != "auto" {
    .min-w-#{$key} { min-width: $val; }
    .max-w-#{$key} { max-width: $val; }
    .min-h-#{$key} { min-height: $val; }
    .max-h-#{$key} { max-height: $val; }
  }
}


/* Responsive per breakpoint */
@each $bp, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @each $key, $val in $sizesPercent {
      .w-#{$key}-#{$bp}  { width: $val; }
      .h-#{$key}-#{$bp}  { height: $val; }
      @if $key != "auto" {
        .min-w-#{$key}-#{$bp} { min-width: $val; }
        .max-w-#{$key}-#{$bp} { max-width: $val; }
        .min-h-#{$key}-#{$bp} { min-height: $val; }
        .max-h-#{$key}-#{$bp} { max-height: $val; }
      }
    }
  }
}

/* Viewport height (vh) */
$vh-sizes: (
        0: 0,
        10: 10vh,
        20: 20vh,
        30: 30vh,
        40: 40vh,
        50: 50vh,
        60: 60vh,
        70: 70vh,
        75: 75vh,
        80: 80vh,
        90: 90vh,
        100: 100vh
);

@each $key, $val in $vh-sizes {
  .vh-#{$key}     { height: $val; }
  .min-vh-#{$key} { min-height: $val; }
  .max-vh-#{$key} { max-height: $val; }
}

@each $bp, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @each $key, $val in $vh-sizes {
      .vh-#{$key}-#{$bp}     { height: $val; }
      .min-vh-#{$key}-#{$bp} { min-height: $val; }
      .max-vh-#{$key}-#{$bp} { max-height: $val; }
    }
  }
}

/* Viewport width (vw) */
$vw-sizes: (
        0: 0,
        10: 10vw,
        20: 20vw,
        30: 30vw,
        40: 40vw,
        50: 50vw,
        60: 60vw,
        70: 70vw,
        75: 75vw,
        80: 80vw,
        90: 90vw,
        100: 100vw
);

@each $key, $val in $vw-sizes {
  .vw-#{$key}     { width: $val; }
  .min-vw-#{$key} { min-width: $val; }
  .max-vw-#{$key} { max-width: $val; }
}

@each $bp, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @each $key, $val in $vw-sizes {
      .vw-#{$key}-#{$bp}     { width: $val; }
      .min-vw-#{$key}-#{$bp} { min-width: $val; }
      .max-vw-#{$key}-#{$bp} { max-width: $val; }
    }
  }
}

