/* Breakpoints */
@use "../breakpoint" as bp;
$breakpoints: bp.$breakpoints;


/* Font weights */
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

/* Font sizes */
.fs-1   { font-size: var(--font-size-h1); }
.fs-2   { font-size: var(--font-size-h2); }
.fs-3   { font-size: var(--font-size-h3); }
.fs-4   { font-size: var(--font-size-h4); }
.fs-5   { font-size: var(--font-size-h5); }
.fs-6   { font-size: var(--font-size-h6); }

.fs-xs   { font-size: var(--font-size-xs); }
.fs-sm  { font-size: var(--font-size-sm); }
.fs-md { font-size: var(--font-size-md); }
.fs-lg  { font-size: var(--font-size-lg); }
.fs-xl { font-size: var(--font-size-xl); }
.fs-xxl{ font-size: var(--font-size-xxl); }

/* ==== Responsive variants ==== */
@each $bp, $size in $breakpoints {
  @media (min-width: #{$size}) {

    /* Font weights */
    .fw-100-#{$bp} { font-weight: 100; }
    .fw-200-#{$bp} { font-weight: 200; }
    .fw-300-#{$bp} { font-weight: 300; }
    .fw-400-#{$bp} { font-weight: 400; }
    .fw-500-#{$bp} { font-weight: 500; }
    .fw-600-#{$bp} { font-weight: 600; }
    .fw-700-#{$bp} { font-weight: 700; }
    .fw-800-#{$bp} { font-weight: 800; }
    .fw-900-#{$bp} { font-weight: 900; }

    /* Font sizes */
    .fs-1-#{$bp} { font-size: var(--font-size-h1); }
    .fs-2-#{$bp} { font-size: var(--font-size-h2); }
    .fs-3-#{$bp} { font-size: var(--font-size-h3); }
    .fs-4-#{$bp} { font-size: var(--font-size-h4); }
    .fs-5-#{$bp} { font-size: var(--font-size-h5); }
    .fs-6-#{$bp} { font-size: var(--font-size-h6); }

    /* Font sizes */
    .fs-xs-#{$bp}   { font-size: var(--font-size-xs); }
    .fs-sm-#{$bp}  { font-size: var(--font-size-sm); }
    .fs-md-#{$bp}{ font-size: var(--font-size-md); }
    .fs-lg-#{$bp}  { font-size: var(--font-size-lg); }
    .fs-xl-#{$bp}{ font-size: var(--font-size-xl); }
    .fs-xxl-#{$bp}{ font-size: var(--font-size-xxl); }
  }
}
