:root[data-theme="dark"] {
  color-scheme: dark;

  /* color base */
  --primary-color-theme: var(--primary-color-dark);
  --secondary-color-theme: var(--secondary-color-dark);
  --tertiary-color-theme: var(--tertiary-color-dark);
  --dark-color-theme: var(--dark-color-dark);
  --danger-color-theme: var(--danger-color-dark);
  --info-color-theme: var(--info-color-dark);
  --light-color-theme: var(--light-color-dark);
  --neutral-color-theme: var(--neutral-color-dark);
  --success-color-theme: var(--success-color-dark);
  --warning-color-theme: var(--warning-color-dark);

  --text-on-primary-theme: var(--text-on-primary-dark);
  --text-on-secondary-theme: var(--text-on-secondary-dark);
  --text-on-tertiary-theme: var(--text-on-tertiary-dark);
  --text-on-dark-theme: var(--text-on-dark-dark);
  --text-on-danger-theme: var(--text-on-danger-dark);
  --text-on-info-theme: var(--text-on-info-dark);
  --text-on-light-theme: var(--text-on-light-dark);
  --text-on-neutral-theme: var(--text-on-neutral-dark);
  --text-on-success-theme: var(--text-on-success-dark);
  --text-on-warning-theme: var(--text-on-warning-dark);

  --hover-on-primary-theme: var(--hover-on-primary-dark);
  --hover-on-secondary-theme: var(--hover-on-secondary-dark);
  --hover-on-tertiary-theme: var(--hover-on-tertiary-dark);
  --hover-on-dark-theme: var(--hover-on-dark-dark);
  --hover-on-danger-theme: var(--hover-on-danger-dark);
  --hover-on-info-theme: var(--hover-on-info-dark);
  --hover-on-light-theme: var(--hover-on-light-dark);
  --hover-on-neutral-theme: var(--hover-on-neutral-dark);
  --hover-on-success-theme: var(--hover-on-success-dark);
  --hover-on-warning-theme: var(--hover-on-warning-dark);

  --active-on-primary-theme: var(--active-on-primary-dark);
  --active-on-secondary-theme: var(--active-on-secondary-dark);
  --active-on-tertiary-theme: var(--active-on-tertiary-dark);
  --active-on-dark-theme: var(--active-on-dark-dark);
  --active-on-danger-theme: var(--active-on-danger-dark);
  --active-on-info-theme: var(--active-on-info-dark);
  --active-on-light-theme: var(--active-on-light-dark);
  --active-on-neutral-theme: var(--active-on-neutral-dark);
  --active-on-success-theme: var(--active-on-success-dark);
  --active-on-warning-theme: var(--active-on-warning-dark);


  /* Global surfaces & borders */
  --bg-color: var(--gray-800);
  --border-color: var(--gray-700);
  --text-color: #f5f5f5;

  /* Shadow */
  --box-shadow: 0 .05rem 1.5rem rgba(0, 0, 0, .25);
  --box-shadow-hover: 0 0 11px rgba(0, 0, 0, .75);

  /* Accordion */
  --accordion-bg-color: var(--bg-color);
  --accordion-border-color: var(--border-color);

  /* Alert */
  --alert-bg-color: var(--bg-color);
  --alert-border-color: var(--border-color);
  --alert-box-shadow: var(--box-shadow);

  /* Badge */
  --badge-border-color: var(--border-color);

  /* Button */
  --button-border-color: var(--border-color);
  --button-hover-bg-color: rgba(225, 225, 225, 0.3);
  --button-active-bg-color: rgba(225, 225, 225, 0.2);

  /* Card */
  --card-border-color: var(--gray-700);
  --card-box-shadow: var(--box-shadow);
  --card-box-shadow-hover: var(--box-shadow-hover);

  /* Collapse */
  --collapse-bg-color: var(--bg-color);
  --collapse-border-color: var(--border-color);

  /* Dialog */
  --dialog-backdrop-color: rgba(0, 0, 0, 0.8);
  --dialog-border-color: var(--border-color);

  /* Dropdown */
  --dropdown-body-box-shadow: var(--box-shadow);

  /* Form */
  --input-border-color: var(--border-color);
  --input-box-shadow-focus: 0 0 0.2rem 0.1rem color-mix(in srgb, var(--primary-color) 50%, transparent);
  --input-box-shadow-invalid: 0 0 0.2rem 0.1rem color-mix(in srgb, var(--danger-color) 50%, transparent);
  --input-box-shadow-valid: 0 0 0.2rem 0.1rem color-mix(in srgb, var(--success-color) 50%, transparent);
  --input-border-color-invalid: var(--danger-color);
  --input-border-color-valid: var(--success-color);
  --input-bg-color: var(--bg-color);
  --input-icon-invalid-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'%3E%3Cpath d='M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7A1 1 0 0 0 5.7 7.11L10.59 12l-4.89 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z'/%3E%3C/svg%3E");
  --input-icon-valid-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='green'%3E%3Cpath d='M20.3 5.3a1 1 0 0 0-1.4 0L9 15.2l-3.9-3.9a1 1 0 1 0-1.4 1.4l4.6 4.6a1 1 0 0 0 1.4 0l10-10a1 1 0 0 0 0-1.4z'/%3E%3C/svg%3E");
  --input-icon-select-arrow-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='black' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  --input-switch-bg-color: var(--gray-300);

  /* Image */
  --img-thumbnail-bg-color: var(--bg-color);
  --img-thumbnail-border-color: var(--border-color);

  /* List */
  --list-bg-color: var(--bg-color);
  --list-border-color: var(--border-color);
  --list-text-color: var(--text-color);
  --list-item-hover-bg-color: rgba(225, 225, 225, 0.2);
  --list-item-active-bg-color: rgba(225, 225, 225, 0.4);
  --list-item-border-color: var(--list-border-color);

  /* Nav */
  --navbar-border-color: var(--border-color);

  /* Sidebar */
  --sidebar-bg-color: var(--bg-color);
  --sidebar-border-color: var(--border-color);

  /* Tab */
  --tab-body-border-color: var(--border-color);

  /* Table */
  --table-border-color: var(--border-color);
  --table-bg-color: var(--bg-color);
  --table-border-divider-color: var(--gray-1000);
  --table-hover-bg-color: rgba(225, 225, 225, 0.2);
  --table-active-bg-color: rgba(225, 225, 225, 0.4);
  --table-text-color: var(--text-color);

}





