:root {

  /*
  ***
  ******
  FOUNDATIONS
  ******
  ***
  */

  /* Color palette */
  --gray-0: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-150: #efefef;
  --gray-200: #e5e5e5;
  --gray-250: #d9d9d9;
  --gray-300: #d4d4d4;
  --gray-350: #bbbbbb;
  --gray-400: #a3a3a3;
  --gray-450: #8b8b8b;
  --gray-500: #737373;
  --gray-550: #636363;
  --gray-600: #525252;
  --gray-650: #494949;
  --gray-700: #404040;
  --gray-750: #333333;
  --gray-800: #262626;
  --gray-850: #1e1e1e;
  --gray-900: #171717;
  --gray-950: #0b0b0b;
  --gray-1000: #000000;


  --primary-color-base: #6E5FAF;
  --secondary-color-base: #C07A2D;
  --tertiary-color-base: #4F7C9E;
  --black-color-base: #000000;
  --dark-color-base: #383737;
  --danger-color-base: #c96a6a;
  --info-color-base: #6baacd;
  --light-color-base: #dddddd;
  --neutral-color-base: #bbbbbb;
  --success-color-base: #7bae7f;
  --warning-color-base: #d9b74a;
  --white-color-base: #ffffff;


  /* Global surfaces & borders */
  --border-style: solid;
  --border-width: .1rem;
  --border-width-outline: .1rem;
  --border-style-outline: solid;


  /* Typography */
  --font-family-text: "Open Sans", sans-serif;
  --font-family-title: "Montserrat", sans-serif;


  --font-weight: 200;
  --font-weight-lighter: 100;
  --font-weight-lightest: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;


  --font-size: 1.2rem;
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-xxl: 1.8rem;


  /* Headings */
  --font-size-h1: 4rem;
  --font-size-h2: 3.5rem;
  --font-size-h3: 3rem;
  --font-size-h4: 2.5rem;
  --font-size-h5: 2rem;
  --font-size-h6: 1.5rem;


  /* Leading & tracking */
  --letter-spacing-sm: -0.05em;
  --letter-spacing-md: 0.05em;
  --letter-spacing-lg: 0.1em;


  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;


  /* Radius */
  --border-radius: .3rem;
  --border-radius-pill: 10rem;
  --border-radius-circle: 50%;





  /*
  ***
  ******
  COMPONENTS
  ******
  ***
  */


  /* Accordion */
  --accordion-border-radius: var(--border-radius);
  --accordion-border-style: var(--border-style);
  --accordion-border-width: var(--border-width);
  --accordion-button-padding: 1rem;
  --accordion-button-padding-sm: .5rem 1rem;
  --accordion-button-padding-md: 1rem;
  --accordion-button-padding-lg: 1.5rem;


  /* Alert */
  --alert-header-padding: .5rem 1rem;
  --alert-body-padding: 1rem;
  --alert-footer-padding: .5rem 1rem;

  --alert-animation: alert-in-and-out 5s ease forwards;
  --alert-border-style: var(--border-style);
  --alert-border-width: var(--border-width);
  --alert-border-radius: var(--border-radius);
  --alert-container-padding-inline: 1rem;
  --alert-gap: 1rem;
  --alert-margin: .25rem 0;
  --alert-width: 100%;


  /* Badge */
  --badge-border-radius: var(--border-radius);
  --badge-border-style: var(--border-style);
  --badge-border-width: 0;
  --badge-group-gap: .5rem;
  --badge-padding: .4rem 1.2rem;
  --badge-padding-sm: .3rem .9rem;
  --badge-padding-md: .4rem 1.2rem;
  --badge-padding-lg: .5rem 1.5rem;


  /* Button */
  --button-border-radius: var(--border-radius);
  --button-border-style: var(--border-style);
  --button-border-width: 0;
  --button-group-gap: .5rem;
  --button-padding: .5rem 1rem;
  --button-padding-sm: .5rem 1rem;
  --button-padding-md: .75rem 1.5rem;
  --button-padding-lg: 1rem 2rem;


  /* Card */
  --card-body-padding: 1rem;
  --card-footer-padding: .5rem 1rem;
  --card-header-padding: .5rem 1rem;
  --card-border-style: var(--border-style);
  --card-border-width: var(--border-width);
  --card-border-radius: var(--border-radius);
  --card-group-gap: 1rem;
  --card-min-width: 220px;


  /* Collapse */
  --collapse-border-radius: var(--border-radius);
  --collapse-border-style: var(--border-style);
  --collapse-border-width: var(--border-width);
  --collapse-button-padding: 1rem;
  --collapse-button-padding-sm: .5rem 1rem;
  --collapse-button-padding-md: 1rem;
  --collapse-button-padding-lg: 1.5rem;


  /* Dialog */
  --dialog-body-padding: 1rem;
  --dialog-header-padding: 1rem;
  --dialog-footer-padding: 1rem;
  --dialog-border-style: var(--border-style);
  --dialog-border-width: var(--border-width);
  --dialog-border-radius: var(--border-radius);
  --dialog-padding: 0;
  --dialog-width: 75rem;
  --dialog-width-sm: 60rem;
  --dialog-width-md: 75rem;
  --dialog-width-lg: 100rem;


  /* Dropdown */
  --dropdown-body-box-shadow: var(--box-shadow);
  --dropdown-body-min-width: 10rem;
  --dropdown-body-spacing-margin: .5rem;


  /* Form */
  --input-border-style: var(--border-style);
  --input-border-width: var(--border-width);
  --input-border-radius: var(--border-radius);


  --form-control-gap: 1rem;


  --input-padding: 0 1.5rem;
  --textarea-padding: .5rem 1.5rem;


  --form-control-height: 7.5rem;
  --form-control-height-sm: 7rem;
  --form-control-height-md: 7.5rem;
  --form-control-height-lg: 8rem;


  --input-height: 3.5rem;
  --input-height-sm: 2.5rem;
  --input-height-md: 3.5rem;
  --input-height-lg: 4rem;


  --input-radio-size: 1.4rem;
  --input-radio-size-sm: 1.2rem;
  --input-radio-size-md: 1.4rem;
  --input-radio-size-lg: 1.6rem;


  --input-checbox-size: 1.4rem;
  --input-checbox-size-sm: 1.2rem;
  --input-checbox-size-md: 1.4rem;
  --input-checbox-size-lg: 1.6rem;


  --input-range-bar-height: .4rem;
  --input-range-bar-height-sm: .3rem;
  --input-range-bar-height-md: .4rem;
  --input-range-bar-height-lg: .5rem;


  --input-range-button-size: 1.25rem;
  --input-range-button-size-sm: 1rem;
  --input-range-button-size-md: 1.25rem;
  --input-range-button-size-lg: 1.5rem;


  --input-switch-height: 1.5rem;
  --input-switch-height-sm: 1.2rem;
  --input-switch-height-md: 1.5rem;
  --input-switch-height-lg: 1.8rem;


  /* Image */
  --img-border-radius: var(--border-radius);
  --img-thumbnail-border-style: var(--border-style);
  --img-thumbnail-border-width: var(--border-width);
  --img-thumbnail-padding: .25rem;


  /* List */
  --list-border-width: var(--border-width);
  --list-border-style: var(--border-style);
  --list-border-radius: var(--border-radius);


  --list-column-gap: 2rem;
  --list-inline-gap: 2rem;


  --list-item-height: 3rem;
  --list-item-height-sm: 2rem;
  --list-item-height-md: 3rem;
  --list-item-height-lg: 4rem;
  --list-item-padding: 0 1rem;
  --list-item-padding-sm: 0 0.5rem;
  --list-item-padding-md: 0 1rem;
  --list-item-padding-lg: 0 2rem;
  --list-item-border-width: var(--list-border-width);
  --list-item-border-style: var(--list-border-style);


  /* Nav */
  --navbar-border-style: var(--border-style);
  --navbar-border-width: 0;
  --navbar-border-radius: 0;
  --navbar-body-gap: 2rem;
  --navbar-nav-gap: 2rem;
  --navbar-nav-margin: var(--navbar-nav-gap) 0 0 0;
  --navbar-padding: 1rem;


  /* Sidebar */
  --sidebar-border-style: var(--border-style);
  --sidebar-border-width: var(--border-width);
  --sidebar-border-radius: var(--border-radius);
  --sidebar-padding: 1rem;
  --sidebar-width: 30rem;


  /* Tab */
  --tab-button-padding: .75rem 1.5rem;
  --tab-button-padding-sm: .5rem 1rem;
  --tab-button-padding-md: .75rem 1.5rem;
  --tab-button-padding-lg: 1rem 2rem;
  --tab-button-radius: var(--border-radius);
  --tab-body-border-width: var(--border-width);
  --tab-body-border-style: var(--border-style);
  --tab-body-border-radius: var(--border-radius);
  --tab-body-padding: 1rem;


  /* Table */
  --table-border-style: var(--border-style);
  --table-border-width: var(--border-width);
  --table-border-divider-width: .2rem;
  --table-border-divider-style: var(--border-style);

  --table-padding: .8rem;
  --table-padding-sm: .6rem;
  --table-padding-md: .8rem;
  --table-padding-lg: 1rem;


  /*
  ***
  ******
  LAYOUT
  ******
  ***
  */


  /* Col & grid spacing */
  --col-padding: .5rem 1rem;
  --g-col-padding: .5rem 1rem;
  --gap-grid: 0.2rem;


  /* Containers */
  --container-fluid-padding: 1rem;
  --container-fluid-width: 80%;
  --container-fluid-width-sm: 70%;
  --container-fluid-width-md: 80%;
  --container-fluid-width-lg: 90%;
  --container-width: 120rem;
  --container-width-sm: 100rem;
  --container-width-md: 120rem;
  --container-width-lg: 140rem;
  --container-padding: 1rem;
}





