@use "sass:math";
/* Breakpoints */
@use "../breakpoint" as bp;
$breakpoints: bp.$breakpoints;

@mixin generate-cols-size($bp) {
  @for $i from 1 through 12 {
    $width: math.div(100% * $i, 12);
    $multiple: math.div(12 - $i, 12);
      .col-#{$i}-#{$bp} {flex: 0 0 #{$width}; max-width: #{$width};}
  }
}

/* Row container */
.row {
  display: flex;
  flex-wrap: wrap;

  /* Base style for any .col-* */
  [class^="col-"] {
    width: 100%;
    padding: var(--col-padding);
  }

  /* Fluid column: fills remaining space */
  .col {
    flex: 1 1 0;
    max-width: 100%;
    padding: var(--col-padding);
  }

  /* Fixed column widths (12-grid) */
  @for $i from 1 through 12 {
    $width: math.div(100% * $i, 12);
    $multiple: math.div(12 - $i, 12);
    .col-#{$i} {flex: 0 0 #{$width}; max-width: #{$width};}
  }

  /* Responsive column widths */
  @each $bp, $size in $breakpoints {
    @media (min-width: #{$size}) {
      @include generate-cols-size($bp);
    }
  }
}