// Container
@mixin container-base {
    width: 100%;
    margin-inline: auto;
    box-sizing: border-box;
    padding: var(--container-padding);
}

// Container fluid
@mixin container-fluid-base {
    max-width: 100%;
    margin-inline: auto;
    box-sizing: border-box;
    padding: var(--container-fluid-padding);
}

/* Container */
.container {
    @include container-base;
    max-width: var(--container-width);
}
.container-sm {
    @include container-base;
    max-width: var(--container-width-sm);
}
.container-md {
    @include container-base;
    max-width: var(--container-width-md);
}
.container-lg {
    @include container-base;
    max-width: var(--container-width-lg);
}


.container-fluid {
    @include container-fluid-base;
    width: var(--container-fluid-width);
}
.container-fluid-sm {
    @include container-fluid-base;
    width: var(--container-fluid-width-sm);
}
.container-fluid-md {
    @include container-fluid-base;
    width: var(--container-fluid-width-md);
}
.container-fluid-lg {
    @include container-fluid-base;
    width: var(--container-fluid-width-lg);
}