// Container
.container {
    width: 100%;
    margin-inline: auto;
    box-sizing: border-box;
    max-width: var(--container-width);
    padding: var(--container-padding);


    &-sm {
        @extend .container;
        max-width: var(--container-width-sm);
    }

    &-md {
        @extend .container;
        max-width: var(--container-width-md);
    }

    &-lg {
        @extend .container;
        max-width: var(--container-width-lg);
    }
}

// Container fluid
.container-fluid {
    max-width: 100%;
    margin-inline: auto;
    box-sizing: border-box;
    width: var(--container-fluid-width);
    padding: var(--container-fluid-padding);

    &-sm {
        @extend .container-fluid;
        width: var(--container-fluid-width-sm);
    }

    &-md {
        @extend .container-fluid;
        width: var(--container-fluid-width-md);
    }

    &-lg {
        @extend .container-fluid;
        width: var(--container-fluid-width-lg);
    }
}