@use "sass:math";
/* Breakpoints */
@use "../breakpoint" as bp;
$breakpoints: bp.$breakpoints;

@mixin generate-g-cols-size($bp) {
  @for $i from 1 through 12 {
    $width: math.div(100% * $i, 12);
    $multiple: math.div(12 - $i, 12);
    .g-col-#{$i}-#{$bp} {flex: 0 0 calc(#{$width} - (var(--gap-grid) * #{$multiple}));}
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-grid);
  /* Default column behavior */

  /* Common column style */
  [class^="g-col"] {
    padding: var(--g-col-padding);
  }

  .g-col,
  .g-col-xs,
  .g-col-sm,
  .g-col-md,
  .g-col-lg,
  .g-col-xl,
  .g-col-xxl {
    flex: 1 1 auto;
  }

  @for $i from 1 through 12 {
    $width: math.div(100% * $i, 12);
    $multiple: math.div(12 - $i, 12);
    .g-col-#{$i} {
      flex: 0 0 calc(#{$width} - (var(--gap-grid) * #{$multiple}));
    }
  }

  @each $bp, $size in $breakpoints {
    @media (min-width: #{$size}) {
      @include generate-g-cols-size($bp);
    }
  }
}