.accordion {
  display: inline-block;
  position: relative;
  width: 100%;
  border-width: var(--accordion-border-width);
  border-style: var(--accordion-border-style);
  border-color: var(--accordion-border-color);
  border-radius: var(--accordion-border-radius);
  background-color: var(--accordion-bg-color);

  .accordion-item {
    border: none;

    .accordion-btn{padding: var(--accordion-button-padding);}
    .accordion-btn-sm{padding: var(--accordion-button-padding-sm);}
    .accordion-btn-md{padding: var(--accordion-button-padding-md);}
    .accordion-btn-lg{padding: var(--accordion-button-padding-lg);}


    &:first-child {
      .accordion-btn,
      .accordion-btn-sm,
      .accordion-btn-md,
      .accordion-btn-lg {
        border-top-left-radius: calc(var(--accordion-border-radius) - var(--accordion-border-width));
        border-top-right-radius: calc(var(--accordion-border-radius) - var(--accordion-border-width));
      }
    }
    
    &:last-child {
      .accordion-btn,
      .accordion-btn-sm,
      .accordion-btn-md,
      .accordion-btn-lg {
        border-bottom-left-radius: calc(var(--accordion-border-radius) - var(--accordion-border-width));
        border-bottom-right-radius: calc(var(--accordion-border-radius) - var(--accordion-border-width));
        border-bottom: none; 
      }


      &:has(.accordion-body.show) {
        .accordion-btn,
        .accordion-btn-sm,
        .accordion-btn-md,
        .accordion-btn-lg {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }


    .accordion-btn,
    .accordion-btn-sm,
    .accordion-btn-md,
    .accordion-btn-lg {
      cursor: pointer;
      width: 100%;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: var(--accordion-border-width) var(--accordion-border-style) var(--accordion-border-color);

      &:after {
        content: '\FE62'; 
        margin-left: .5rem;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

 
    &:has(.accordion-body.show) {
      .accordion-btn,
      .accordion-btn-sm,
      .accordion-btn-md,
      .accordion-btn-lg{
        &:after {
          content: '\FE63'; 
        }
      }
    }
    
    .accordion-body {
      padding: 0 !important;
      margin: 0 !important;
      height: 0;
      overflow: hidden;
      .list{
        border: none;
      }

      &.show {
        height: auto;
        overflow: visible;
        border-bottom: var(--accordion-border-width) var(--accordion-border-style) var(--accordion-border-color);
      }
    }
    
    &:last-child {
      .accordion-body.show {
        border-top: var(--accordion-border-width) var(--accordion-border-style) var(--accordion-border-color);
        border-bottom: none;
      }
    }
  }
}

