// Alert base
@mixin alert-base {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--alert-border-radius);
  border-color:  var(--alert-border-color);
  border-style: var(--alert-border-style);
  border-width: var(--alert-border-width);
  background-color: var(--alert-bg-color);
  margin: var(--alert-margin);
  width: var(--alert-width);
  box-shadow: var(--alert-box-shadow);
  animation: var(--alert-animation);

  .alert-header {padding: var(--alert-header-padding);}
  .alert-body {padding: var(--alert-body-padding);}
  .alert-footer {padding: var(--alert-footer-padding);}

}


@mixin alert-container-base {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-inline: var(--alert-container-padding-inline);
}

.alert-container {
  @include alert-container-base;
  top: 0;
  align-items: center;

  &.top {
    top: 0;
    bottom: auto;
  }

  &.bottom {
    bottom: 0;
    top: auto;
  }

  &.left {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.right {
    align-items: flex-end;
  }
}

// Alert
.alert {
  @include alert-base;
  .close {
    align-self: start;
    cursor: pointer;
  }
}

