.badge-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--badge-group-gap);
}

@mixin badge-base{
  border-radius: var(--badge-border-radius);
  border-width:  var(--badge-border-width);
  border-style: var(--badge-border-style);
  border-color: var(--badge-border-color);
  white-space: nowrap;
  display: inline-block;
}

.badge{
  @include badge-base;
  padding: var(--badge-padding);
}
.badge-sm {
  @include badge-base;
  padding: var(--badge-padding-sm);
}
.badge-md {
  @include badge-base;
  padding: var(--badge-padding-md);
}
.badge-lg {
  @include badge-base;
  padding: var(--badge-padding-lg);
}