// Badge group
.badge-group{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--badge-group-gap);
}

// Badge
@mixin badge-base{
  border-radius: var(--badge-border-radius);
  white-space: nowrap;
  display: inline-block;
}

.badge{
  @include badge-base;
  padding: var(--badge-padding);
}
.badge-sm {
  @include badge-base;
  padding: var(--badge-padding-sm);
}
.badge-md {
  @include badge-base;
  padding: var(--badge-padding-md);
}
.badge-lg {
  @include badge-base;
  padding: var(--badge-padding-lg);
}