// Button group
.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--button-group-gap);
}

// Button
@mixin button-base {
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  &:not([class*="outline-"]) {
    border: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn{
  @include button-base;
  padding: var(--button-padding);
}
.btn-sm {
  @include button-base;
  padding: var(--button-padding-sm);
}
.btn-md {
  @include button-base;
  padding: var(--button-padding-md);
}
.btn-lg {
  @include button-base;
  padding: var(--button-padding-lg);
}