.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
    gap: var(--card-group-gap);
}

// Card
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    border-color: var(--card-border-color);
    border-style: var(--card-border-style);
    border-width: var(--card-border-width);
    box-shadow: var(--card-box-shadow);


    .card-header {padding: var(--card-header-padding);}
    .card-body {padding: var(--card-body-padding);}
    .card-footer {padding: var(--card-footer-padding);}
}
