.card-group {
    display: flex;
    flex-direction: column;
    gap: var(--card-group-gap);
}

// Card
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    box-shadow: var(--card-box-shadow);


    .card-header {padding: var(--card-header-padding);}
    .card-body {padding: var(--card-body-padding);}
    .card-footer {padding: var(--card-footer-padding);}
}
