.collapse {
  display: inline-block;
  position: relative;
  width: 100%;
  border-style: var(--collapse-border-style);
  border-width: var(--collapse-border-width);
  border-color: var(--collapse-border-color);
  border-radius: var(--collapse-border-radius);
  background-color: var(--collapse-bg-color);

  .collapse-btn{padding: var(--collapse-button-padding);}
  .collapse-btn-sm{padding: var(--collapse-button-padding-sm);}
  .collapse-btn-md{padding: var(--collapse-button-padding-md);}
  .collapse-btn-lg{padding: var(--collapse-button-padding-lg);}

  .collapse-btn,
  .collapse-btn-sm,
  .collapse-btn-md,
  .collapse-btn-lg {
    width: 100%;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: calc(var(--collapse-border-radius) - var(--collapse-border-width));
    &:after {
      content: '\FE62';
      margin-left: .5rem;
    }
  }

  &:has(.collapse-body.show) > .collapse-btn,
  &:has(.collapse-body.show) > .collapse-btn-sm,
  &:has(.collapse-body.show) > .collapse-btn-md,
  &:has(.collapse-body.show) > .collapse-btn-lg {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &:after {
      content: '\FE63';
    }
  }

  .collapse-body{
    .list{
      border: none;
    }
  }

}

.collapse-body{
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
    overflow: visible;
  }
}