// Dialog
.dialog,
.dialog-sm,
.dialog-md,
.dialog-lg {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: fixed;
  max-width: 95vw;
  max-height: 90vh;
  overflow: auto;
  border-color: var(--dialog-border-color);
  border-style: var(--dialog-border-style);
  border-width: var(--dialog-border-width);
  border-radius: var(--dialog-border-radius);
  padding:  var(--dialog-padding);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity .25s ease, transform .25s ease;


  &::backdrop {
    background: rgba(0, 0, 0, 0);
    transition: background .25s ease;
  }

  .dialog-header {padding: var(--dialog-header-padding);}
  .dialog-body {padding:  var(--dialog-body-padding);}
  .dialog-footer {padding: var(--dialog-footer-padding);}


  &[open] {
    &.show{
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.show::backdrop {background: var(--dialog-backdrop-color);}
}


.dialog {
  width: min(95vw, var(--dialog-width));
}

.dialog-sm {
  width: min(95vw, var(--dialog-width-sm));
}

.dialog-md {
  width: min(95vw, var(--dialog-width-md));
}

.dialog-lg {
  width: min(95vw, var(--dialog-width-lg));
}




