/* Breakpoints */
@use "../breakpoint" as bp;

$breakpoints: bp.$breakpoints;

/* Animation pour les dropdown non natifs */
.dropdown {
  .dropdown-body {
    border-radius: var(--border-radius);
    opacity: 0;
    display: none;
    transform: scale(0.5);
    transform-origin: top;
    transition: opacity 0.1s ease, transform 0.1s ease;

    &.show {
      opacity: 1;
      transform: scale(1);
    }
  }
}


.dropdown,
.dropdown-native {
  position: relative;
  display: inline-block;

  .dropdown-body {
    min-width: var(--dropdown-body-min-width);
    box-shadow: var(--dropdown-body-box-shadow);
    margin-top: var(--dropdown-body-spacing-margin);
    border-radius: var(--border-radius);
    width: max-content;
    position: absolute;
    z-index: 1000;


    /* ---- Horizontal ---- */
    &.left {
      right: auto;
      translate: 0 0;
      left: 0;
    }

    &.right {
      left: auto;
      translate: 0 0;
      right: 0;
    }

    &.center {
      right: auto;
      left: 50%;
      translate: -50% 0;
    }

    /* ---- Vertical ---- */
    &.top {
      top: auto;
      margin-top: 0;
      bottom: 100%;
      transform-origin: bottom;
      margin-bottom: var(--dropdown-body-spacing-margin);
    }

    &.bottom {
      bottom: auto;
      margin-bottom: 0;
      top: 100%;
      transform-origin: top;
      margin-top: var(--dropdown-body-spacing-margin);
    }

    /* ---- Latéral ---- */
    &.side-left {
      left: auto;
      translate: 0 0;
      bottom: auto;
      margin-top: 0;
      margin-bottom: 0;
      right: 100%;
      top: 0;
      transform-origin: right;
      margin-right: var(--dropdown-body-spacing-margin);
    }

    &.side-right {
      right: auto;
      translate: 0 0;
      bottom: auto;
      margin-top: 0;
      margin-bottom: 0;
      left: 100%;
      top: 0;
      transform-origin: left;
      margin-left: var(--dropdown-body-spacing-margin);
    }


    /* ---- Breakpoints ---- */
    @each $bp, $size in $breakpoints {
      @media (min-width: #{$size}) {

        &.left-#{$bp} {
          right: auto;
          translate: 0 0;
          left: 0;
        }

        &.right-#{$bp} {
          left: auto;
          translate: 0 0;
          right: 0;
        }

        &.center-#{$bp} {
          right: auto;
          left: 50%;
          translate: -50% 0;
        }

        &.top-#{$bp} {
          top: auto;
          margin-top: 0;
          bottom: 100%;
          transform-origin: bottom;
          margin-bottom: var(--dropdown-body-spacing-margin);
        }

        &.bottom-#{$bp} {
          bottom: auto;
          margin-bottom: 0;
          top: 100%;
          transform-origin: top;
          margin-top: var(--dropdown-body-spacing-margin);
        }

        &.side-left-#{$bp} {
          left: auto;
          translate: 0 0;
          bottom: auto;
          margin-top: 0;
          margin-bottom: 0;
          right: 100%;
          top: 0;
          transform-origin: right;
          margin-right: var(--dropdown-body-spacing-margin);
        }

        &.side-right-#{$bp} {
          right: auto;
          translate: 0 0;
          bottom: auto;
          margin-top: 0;
          margin-bottom: 0;
          left: 100%;
          top: 0;
          transform-origin: left;
          margin-left: var(--dropdown-body-spacing-margin);
        }
      }
    }
  }
}