.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  min-width: var(--dropdown-menu-min-width);
  box-shadow: var(--dropdown-menu-box-shadow);
  margin-top: var(--dropdown-menu-spacing-margin);
  width: max-content;
  list-style: none;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  display: none;
  transform: scale(0.5);
  transform-origin: top;
  pointer-events: none;
  transition: opacity 0.1s ease, transform 0.1s ease;


  &.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }


  &.left {
    left: 0;
    right: auto;
  }


  &.right {
    left: auto;
    right: 0;
  }


  &.center {
    left: 50%;
    transform: translateX(-50%) scale(0.5);


    &.show {
      transform: translateX(-50%) scale(1);
    }
  }


  &.top {
    bottom: 100%;
    top: auto;
    margin-top: 0;
    transform-origin: bottom;
    margin-bottom: var(--dropdown-menu-spacing-margin);
  }


  &.bottom {
    top: 100%;
    bottom: auto;
    transform-origin: top;
    margin-top: var(--dropdown-menu-spacing-margin);
  }


  &.side-left {
    right: 100%;
    left: auto;
    top: 0;
    margin-top: 0;
    transform-origin: right;
    margin-right: var(--dropdown-menu-spacing-margin);
  }


  &.side-right {
    left: 100%;
    right: auto;
    top: 0;
    margin-top: 0;
    transform-origin: left;
    margin-left: var(--dropdown-menu-spacing-margin);
  }

}

