.dropdown,
.dropdown-native {
  position: relative;
  display: inline-block;

  .dropdown-body {
    min-width: var(--dropdown-body-min-width);
    box-shadow: var(--dropdown-body-box-shadow);
    margin-top: var(--dropdown-body-spacing-margin);
    border-radius: var(--border-radius);
    width: max-content;
    position: absolute;
    z-index: 1000;


    &.left {
      left: 0;
      right: auto;
    }


    &.right {
      left: auto;
      right: 0;
    }


    &.center {
      left: 50%;
      transform: translateX(-50%);


      &.show {
        transform: translateX(-50%);
      }
    }


    &.top {
      bottom: 100%;
      top: auto;
      margin-top: 0;
      transform-origin: bottom;
      margin-bottom: var(--dropdown-body-spacing-margin);
    }


    &.bottom {
      top: 100%;
      bottom: auto;
      transform-origin: top;
      margin-top: var(--dropdown-body-spacing-margin);
    }


    &.side-left {
      right: 100%;
      left: auto;
      top: 0;
      margin-top: 0;
      transform-origin: right;
      margin-right: var(--dropdown-body-spacing-margin);
    }


    &.side-right {
      left: 100%;
      right: auto;
      top: 0;
      margin-top: 0;
      transform-origin: left;
      margin-left: var(--dropdown-body-spacing-margin);
    }

  }

}


.dropdown {
  .dropdown-body {
    border-radius: var(--border-radius);
    opacity: 0;
    display: none;
    transform: scale(0.5);
    transform-origin: top;
    transition: opacity 0.1s ease, transform 0.1s ease;

    &.show {
      opacity: 1;
      transform: scale(1);
    }

    &.center {
      left: 50%;
      transform: translateX(-50%) scale(0.5);


      &.show {
        transform: translateX(-50%) scale(1);
      }
    }
  }
}



