.form-control,
.form-control-sm,
.form-control-md,
.form-control-lg {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  border: .1px solid var(--border-color);
  gap: var(--form-control-gap);

  &.form-column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--form-control-gap);
  }

  input[type="button"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="radio"],
  input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    &:focus {
      outline: none;
      border-color: var(--primary-color);
      box-shadow: var(--input-box-shadow-focus);
    }
  }


  //input[type="button"],
  //input[type="checkbox"],
  //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
    //input[type="hidden"],
    //input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
  input[type="range"],
    //input[type="reset"],
  input[type="search"],
    //input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    width: 100%;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
  }

  textarea {
    height: auto;
    resize: vertical;
    padding: var(--textarea-padding);
  }


  input[type="color"] {
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: var(--input-border-radius);
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);

    &::-webkit-color-swatch-wrapper {
      padding: .3rem;
      border-radius: var(--input-border-radius);
    }

    &::-webkit-color-swatch {
      border-color: var(--input-border-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);
      border-radius: var(--input-border-radius);
    }
  }

  input[type="radio"] {
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 50%;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    position: relative;

    &:checked {
      background: radial-gradient(
                      circle,
                      var(--primary-color) 0%,
                      var(--primary-color) 50%,
                      var(--bg-color) 51%
      )
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    background: var(--bg-color);
    display: inline-block;
    position: relative;

    &:checked {
      background: var(--primary-color);

      &::after {
        content: "✓";
        position: absolute;
        color: var(--text-on-primary);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }

    &::-moz-range-track {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 50%;
      background: var(--bg-color);
      border-color: var(--primary-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);
    }

    &::-moz-range-thumb {
      border-radius: 50%;
      background: var(--bg-color);
      border-color: var(--input-border-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);

    }

    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }

  }

  input[type="file"] {
    padding-left: 0;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    background: var(--bg-color);
    cursor: pointer;

    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      border: none;
      cursor: pointer;
      margin-right: 1rem;
      border-bottom-left-radius: calc(var(--input-border-radius) - var(--input-border-width));
      border-top-left-radius: calc(var(--input-border-radius) - var(--input-border-width));
      color: var(--text-on-primary);
      background: var(--primary-color);
    }

    /* Hover */
    &::file-selector-button:hover {
      background: color-mix(in srgb, var(--primary-color), black 15%);
    }
  }

}


.form-control {
  height: var(--form-control-height);
  &:has(textarea) {
    height: auto !important;
  }

  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea,
  {
    height: var(--input-height);
  }

  input[type="color"] {
    height: var(--input-height);
  }

  input[type="radio"] {
    width: var(--input-radio-size);
    height: var(--input-radio-size);
  }

  input[type="checkbox"] {
    width: var(--input-checbox-size);
    height: var(--input-checbox-size);
  }

  input[type="range"] {

    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height); /* épaisseur de la barre */
    }

    &::-moz-range-track {
      height: var(--input-range-bar-height);
    }

    &::-webkit-slider-thumb {
      width: var(--input-range-button-size);
      height: var(--input-range-button-size);
      margin-top: calc(
              (var(--input-range-bar-height) - var(--input-range-button-size)) / 2
      );
    }

    &::-moz-range-thumb {
      width: var(--input-range-button-size);
      height: var(--input-range-button-size);
    }

    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height);
    }

  }

  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: calc(var(--input-height) - (var(--input-border-width) * 2));
    }
  }

}

.form-control-sm {
  height: var(--form-control-height-sm);
  &:has(textarea) {
    height: auto !important;
  }

  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-sm);
  }


  input[type="color"] {
    height: var(--input-height-sm);
  }

  input[type="radio"] {
    width: var(--input-radio-size-sm);
    height: var(--input-radio-size-sm);
  }

  input[type="checkbox"] {
    width: var(--input-checbox-size-sm);
    height: var(--input-checbox-size-sm);
  }

  input[type="range"] {

    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-sm); /* épaisseur de la barre */
    }

    &::-moz-range-track {
      height: var(--input-range-bar-height-sm);
    }

    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-sm);
      height: var(--input-range-button-size-sm);
      margin-top: calc(
              (var(--input-range-bar-height-sm) - var(--input-range-button-size-sm)) / 2
      );
    }

    &::-moz-range-thumb {
      width: var(--input-range-button-size-sm);
      height: var(--input-range-button-size-sm);
    }

    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-sm);
    }

  }

  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: calc(var(--input-height-sm) - (var(--input-border-width-sm) * 2));
    }
  }

}

.form-control-md {
  height: var(--form-control-height-md);
  &:has(textarea) {
    height: auto !important;
  }
  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-md);
  }


  input[type="color"] {
    height: var(--input-height-md);
  }

  input[type="radio"] {
    width: var(--input-radio-size-md);
    height: var(--input-radio-size-md);
  }

  input[type="checkbox"] {
    width: var(--input-checbox-size-md);
    height: var(--input-checbox-size-md);
  }

  input[type="range"] {

    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-md); /* épaisseur de la barre */
    }

    &::-moz-range-track {
      height: var(--input-range-bar-height-md);
    }

    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-md);
      height: var(--input-range-button-size-md);
      margin-top: calc(
              (var(--input-range-bar-height-md) - var(--input-range-button-size-md)) / 2
      );
    }

    &::-moz-range-thumb {
      width: var(--input-range-button-size-md);
      height: var(--input-range-button-size-md);
    }

    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-md);
    }

  }

  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: calc(var(--input-height-md) - (var(--input-border-width-md) * 2));
    }
  }

}

.form-control-lg {
  height: var(--form-control-height-lg);
  &:has(textarea) {
    height: auto !important;
  }
  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-lg);
  }


  input[type="color"] {
    height: var(--input-height-lg);
  }

  input[type="radio"] {
    width: var(--input-radio-size-lg);
    height: var(--input-radio-size-lg);
  }

  input[type="checkbox"] {
    width: var(--input-checbox-size-lg);
    height: var(--input-checbox-size-lg);
  }

  input[type="range"] {

    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-lg); /* épaisseur de la barre */
    }

    &::-moz-range-track {
      height: var(--input-range-bar-height-lg);
    }

    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-lg);
      height: var(--input-range-button-size-lg);
      margin-top: calc(
              (var(--input-range-bar-height-lg) - var(--input-range-button-size-lg)) / 2
      );
    }

    &::-moz-range-thumb {
      width: var(--input-range-button-size-lg);
      height: var(--input-range-button-size-lg);
    }

    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-lg);
    }

  }

  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: calc(var(--input-height-lg) - (var(--input-border-width-lg) * 2));
    }
  }

}



