//.input[type="image"]
//.input[type="hidden"]
//.input[type="submit"]
//.input[type="reset"]
//.input[type="button"]
@mixin input-base {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  margin: var(--input-margin);

  /* Placeholder */
  &::placeholder {
    color: var(--input-placeholder-color);
  }

  /* Focus ring */
  &:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: var(--input-box-shadow-focus);
  }
}

@mixin input-color-base {
  @include input-base;
  padding: 0;
  display: block;
  cursor: pointer;

  &::-webkit-color-swatch {
    border: none;
    border-radius: var(--input-border-radius);
  }

  &::-webkit-color-swatch-wrapper {
    padding: .4rem;
  }
}

@mixin input-range-base {
  @include input-base;
  @include accent-color;
  padding: 0;
  width: 100%;
  border: none;
  appearance: none;
  background: transparent;
  -webkit-appearance: none;
  height: var(--input-height);
  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: var(--range-size);
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
    border-radius: var(--input-border-radius);
  }

  /* Pour Firefox */
  &::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: var(--range-size);
    border-radius: var(--input-border-radius);
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
  }

  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-thumb {
    cursor: pointer;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--primary-color);
    width: calc(var(--range-size) * 2);
    height: calc(var(--range-size) * 2);
    margin-top: calc((var(--range-size) - (var(--range-size) * 2)) / 2);
  }

  /* Pour Firefox */
  &::-moz-range-thumb {
    cursor: pointer;
    border-radius: 50%;
    background: var(--primary-color);
    width: calc(var(--range-size) * 2);
    height: calc(var(--range-size) * 2);
    margin-top: calc((var(--range-size) - (var(--range-size) * 2)) / 2);
  }
}

@mixin accent-color {
  accent-color: var(--primary-color);
  /* Remove focus outline artifacts on range */
  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}

.form-inline {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: var(--gap-form-inline);

  label {
    text-wrap: nowrap;
  }
}

/* Required field marker */
label.required::after {
  content: ' *';
  color: var(--danger-color);
}

/* Base text controls: select */
select {
  &.select {
    @include input-base;
    width: 100%;
    height: var(--input-height);
    padding: var(--select-padding);
  }

  &.select-sm {
    @extend .select;
    height: var(--input-height-sm);
  }

  &.select-md {
    @extend .select;
    height: var(--input-height-md);
  }

  &.select-lg {
    @extend .select;
    height: var(--input-height-lg);
  }
}


/* Base text controls: textarea */
textarea.textarea {
  @include input-base;
  padding: var(--textarea-padding);
  width: 100%;
}

/* Base text controls: input*/
input[type="datetime"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"] {
  &.input {
    @include input-base;
    height: var(--input-height);
    padding: var(--input-padding);
    width: 100%;
  }

  &.input-sm {
    @include input-base;
    padding: var(--input-padding);
    height: var(--input-height-sm);
    width: 100%;
  }

  &.input-md {
    @include input-base;
    padding: var(--input-padding);
    height: var(--input-height-md);
    width: 100%;
  }

  &.input-lg {
    @include input-base;
    padding: var(--input-padding);
    height: var(--input-height-lg);
    width: 100%;
  }
}

/* File input (native button styling)*/
input[type="file"] {
  &.input,
  &.input-sm,
  &.input-md,
  &.input-lg {
    padding-left: 0;

    &::-webkit-file-upload-button,
    &::file-selector-button {
      border: none;
      height: 100%;
      cursor: pointer;
      margin-right: 1rem;
      align-items: self-start;
      color: var(--text-on-primary);
      border-radius: var(--input-border-radius);
      background-color: var(--primary-color);
    }
  }
}

/* Color input */
input[type="color"] {
  &.input {
    @include input-color-base;
    height: var(--input-height);
  }

  &.input-sm {
    @include input-color-base;
    height: var(--input-height-sm);
  }

  &.input-md {
    @include input-color-base;
    height: var(--input-height-md);
  }

  &.input-lg {
    @include input-color-base;
    height: var(--input-height-lg);
  }
}


/* Range input */
input[type="range"] {
  &.input {
    @include input-range-base;

    &-sm {
      @include input-range-base;
      height: var(--input-height-sm);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-sm);
      }

      &::-moz-range-track {
        height: var(--range-size-sm);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-sm) * 2);
        width: calc(var(--range-size-sm) * 2);
        margin-top: calc((var(--range-size-sm) - (var(--range-size-sm) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-sm) * 2);
        width: calc(var(--range-size-sm) * 2);
        margin-top: calc((var(--range-size-sm) - (var(--range-size-sm) * 2)) / 2);
      }
    }

    &-md {
      @include input-range-base;
      height: var(--input-height-md);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-md);
      }

      &::-moz-range-track {
        height: var(--range-size-md);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-md) * 2);
        width: calc(var(--range-size-md) * 2);
        margin-top: calc((var(--range-size-md) - (var(--range-size-md) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-md) * 2);
        width: calc(var(--range-size-md) * 2);
        margin-top: calc((var(--range-size-md) - (var(--range-size-md) * 2)) / 2);
      }
    }

    &-lg {
      @include input-range-base;
      height: var(--input-height-lg);

      &::-webkit-slider-runnable-track {
        height: var(--range-size-lg);
      }

      &::-moz-range-track {
        height: var(--range-size-lg);
      }

      &::-webkit-slider-thumb {
        height: calc(var(--range-size-lg) * 2);
        width: calc(var(--range-size-lg) * 2);
        margin-top: calc((var(--range-size-lg) - (var(--range-size-lg) * 2)) / 2);
      }

      &::-moz-range-thumb {
        height: calc(var(--range-size-lg) * 2);
        width: calc(var(--range-size-lg) * 2);
        margin-top: calc((var(--range-size-lg) - (var(--range-size-lg) * 2)) / 2);
      }
    }
  }
}

/* Radio and Checkbox */
input[type="radio"],
input[type="checkbox"] {
  &.input {
    @include input-base;
    @include accent-color;
    display: block;
    width: var(--input-size);
    height: var(--input-height);
  }
  &.input-sm {
    @include input-base;
    @include accent-color;
    display: block;
    width: var(--input-size-sm);
    height: var(--input-height-sm);
  }
  &.input-md {
    @include input-base;
    @include accent-color;
    display: block;
    width: var(--input-size-md);
    height: var(--input-height-md);
  }
  &.input-lg {
    @include input-base;
    @include accent-color;
    display: block;
    width: var(--input-size-lg);
    height: var(--input-height-lg);
  }
}


/* Switch */
.wrapper-switch {
  margin-block: .5rem;
  align-content: center;
  height: var(--input-height);

  .switch {
    width: 3rem;
    height: 1.5rem;
    position: relative;
    display: inline-block;

    input {
      display: none;
    }

    .slider {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      transition: .3s;
      position: absolute;
      -webkit-transition: .3s;
      background-color: var(--switch-bg-color);
      border: .1rem solid var(--switch-border-color);

      &:before {
        content: "";
        left: .1rem;
        width: 1.1rem;
        bottom: .1rem;
        height: 1.1rem;
        transition: .3s;
        position: absolute;
        -webkit-transition: .3s;
        background-color: var(--switch-btn-color);
      }

      &.rounded-pill {
        border-radius: 10rem;

        &:before {
          border-radius: 50%;
        }
      }
    }

    input:checked + .slider:before {
      -ms-transform: translateX(1.5rem);
      transform: translateX(1.5rem);
    }

    input:checked + .slider {
      background-color: var(--primary-color);
    }
  }
}

// size of switch
.wrapper-switch-sm {
  @extend .wrapper-switch;
  height: var(--input-height-sm);

  .switch {
    width: calc(var(--switch-size-sm) * 2);
    height: var(--switch-size-sm);

    .slider:before {
      width: calc(var(--switch-size-sm) - .4rem);
      height: calc(var(--switch-size-sm) - .4rem);
    }

    input:checked + .slider:before {
      -ms-transform: translateX(var(--switch-size-sm));
      transform: translateX(var(--switch-size-sm));
    }
  }
}

.wrapper-switch-md {
  @extend .wrapper-switch;
  height: var(--input-height-md);

  .switch {
    width: calc(var(--switch-size-md) * 2);
    height: var(--switch-size-md);

    .slider:before {
      width: calc(var(--switch-size-md) - .4rem);
      height: calc(var(--switch-size-md) - .4rem);
    }

    input:checked + .slider:before {
      -ms-transform: translateX(var(--switch-size-md));
      transform: translateX(var(--switch-size-md));
    }
  }
}

.wrapper-switch-lg {
  @extend .wrapper-switch;
  height: var(--input-height-lg);

  .switch {
    width: calc(var(--switch-size-lg) * 2);
    height: var(--switch-size-lg);

    .slider:before {
      width: calc(var(--switch-size-lg) - .4rem);
      height: calc(var(--switch-size-lg) - .4rem);
    }

    input:checked + .slider:before {
      -ms-transform: translateX(var(--switch-size-lg));
      transform: translateX(var(--switch-size-lg));
    }
  }
}







