.form-control,
.form-control-sm,
.form-control-md,
.form-control-lg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-wrap: nowrap;
  gap: var(--form-control-gap);


  label:has(input),
  label:has(select),
  label:has(textarea){
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--form-control-gap);
  }

  &.form-inline {
    flex-direction: row;
    align-items: center;

    label:has(input),
    label:has(select),
    label:has(textarea){
      flex-direction: row;
      align-items: center;
    }
  }


  input[type="button"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="radio"],
  input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    background-color: var(--input-bg-color);
    &:focus {
      outline: none;
      border-color: var(--primary-color);
      box-shadow: var(--input-box-shadow-focus);
    }
  }


  select {
    appearance: none;
    -webkit-appearance: none;
    padding-right: .5rem;
    background-repeat: no-repeat, no-repeat;
    background-size: 1.5rem, 1.5rem;
    background-image: var(--input-icon-select-arrow-svg),
    none;
    background-position: right 1rem center,
    right 3rem center;
  }


  //input[type="button"],
  //input[type="checkbox"],
  //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
    //input[type="hidden"],
    //input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
  input[type="range"],
    //input[type="reset"],
  input[type="search"],
    //input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    width: 100%;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  //input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
  }

  input[type="image"]{
    border-radius: var(--input-border-radius);
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
  }



  textarea {
    height: auto;
    resize: vertical;
    padding: var(--textarea-padding);
  }


  input[type="color"] {
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: var(--input-border-radius);
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);


    &::-webkit-color-swatch-wrapper {
      padding: .3rem;
      border-radius: var(--input-border-radius);
    }


    &::-webkit-color-swatch {
      border-color: var(--input-border-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);
      border-radius: var(--input-border-radius);
    }
  }


  input[type="radio"] {
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 50%;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    position: relative;


    &:checked {
      background: radial-gradient(
                      circle,
                      var(--primary-color) 0%,
                      var(--primary-color) 40%,
                      var(--input-bg-color) 55%,
                      var(--input-bg-color) 100%
      )
    }
  }


  input[type="checkbox"]:not([role="switch"]) {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    display: inline-block;
    position: relative;


    &:checked {
      background: var(--primary-color);


      &::after {
        content: "✓";
        position: absolute;
        color: var(--text-on-primary);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


  input[type="checkbox"][role="switch"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--input-switch-bg-color);
    border-radius: 50rem;
    border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
    position: relative;
    transition: background 0.1s;
    outline: none;


    /* Le "bouton" rond */
    &::after {
      content: "";
      position: absolute;
      background: white;
      border-radius: 50%;
      top: 50%;
      left: .2rem;
      transform: translate(0, -50%);
      transition: left 0.1s ease-out;
    }


    &:checked {
      background: var(--primary-color);
    }
  }


  input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;


    &::-webkit-slider-runnable-track {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }


    &::-moz-range-track {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }


    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 50%;
      background: var(--input-bg-color);
      border-color: var(--primary-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);
    }


    &::-moz-range-thumb {
      border-radius: 50%;
      background: var(--input-bg-color);
      border-color: var(--input-border-color);
      border-style: var(--input-border-style);
      border-width: var(--input-border-width);
    }


    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      background: var(--primary-color);
      border-radius: var(--input-border-radius);
    }


  }


  input[type="file"] {
    padding-left: 0;
    border-color: var(--input-border-color);
    border-style: var(--input-border-style);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    cursor: pointer;

    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      border: none;
      cursor: pointer;
      margin-right: 1rem;
      border-bottom-left-radius: calc(var(--input-border-radius) - var(--input-border-width));
      border-top-left-radius: calc(var(--input-border-radius) - var(--input-border-width));
      color: var(--text-on-primary);
      background: var(--primary-color);
    }

    /* Hover */
    &::file-selector-button:hover {
      background: color-mix(in srgb, var(--primary-color), black 15%);
    }
  }
}


.form-control {
  //height: var(--form-control-height);
  &:has(textarea) {
    height: auto !important;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea,
  {
    height: var(--input-height);
  }


  input[type="color"] {
    height: var(--input-height);
  }


  input[type="radio"] {
    width: var(--input-radio-size);
    height: var(--input-radio-size);
  }


  input[type="checkbox"]:not([role="switch"]) {
    width: var(--input-checbox-size);
    height: var(--input-checbox-size);


    &:checked {
      &::after {
        font-size: calc(var(--input-checbox-size) - .2rem);
      }
    }
  }


  input[type="checkbox"][role="switch"] {
    width: calc(var(--input-switch-height) * 2);
    height: var(--input-switch-height);


    /* Le "bouton" rond */
    &::after {
      width: calc(var(--input-switch-height) - .4rem);
      height: calc(var(--input-switch-height) - .4rem);
    }


    &:checked {
      &::after {
        left: calc(100% - .2rem - calc(var(--input-switch-height) - .4rem));
      }
    }
  }


  input[type="range"] {


    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height); /* épaisseur de la barre */
    }


    &::-moz-range-track {
      height: var(--input-range-bar-height);
    }


    &::-webkit-slider-thumb {
      width: var(--input-range-button-size);
      height: var(--input-range-button-size);
      margin-top: calc(
              (var(--input-range-bar-height) - var(--input-range-button-size)) / 2
      );
    }


    &::-moz-range-thumb {
      width: var(--input-range-button-size);
      height: var(--input-range-button-size);
    }


    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height);
    }


  }


  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: var(--input-height);
    }
  }


}


.form-control-sm {
  //height: var(--form-control-height-sm);
  &:has(textarea) {
    height: auto !important;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-sm);
  }


  input[type="color"] {
    height: var(--input-height-sm);
  }


  input[type="radio"] {
    width: var(--input-radio-size-sm);
    height: var(--input-radio-size-sm);
  }


  input[type="checkbox"]:not([role="switch"]) {
    width: var(--input-checbox-size-sm);
    height: var(--input-checbox-size-sm);


    &:checked {
      &::after {
        font-size: calc(var(--input-checbox-size-sm) - .2rem);
      }
    }
  }


  input[type="checkbox"][role="switch"] {
    width: calc(var(--input-switch-height-sm) * 2);
    height: var(--input-switch-height-sm);


    /* Le "bouton" rond */
    &::after {
      width: calc(var(--input-switch-height-sm) - .4rem);
      height: calc(var(--input-switch-height-sm) - .4rem);
    }


    &:checked {
      &::after {
        left: calc(100% - .2rem - calc(var(--input-switch-height-sm) - .4rem));
      }
    }
  }


  input[type="range"] {


    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-sm); /* épaisseur de la barre */
    }


    &::-moz-range-track {
      height: var(--input-range-bar-height-sm);
    }


    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-sm);
      height: var(--input-range-button-size-sm);
      margin-top: calc(
              (var(--input-range-bar-height-sm) - var(--input-range-button-size-sm)) / 2
      );
    }


    &::-moz-range-thumb {
      width: var(--input-range-button-size-sm);
      height: var(--input-range-button-size-sm);
    }


    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-sm);
    }


  }


  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: var(--input-height-sm);
    }
  }


}


.form-control-md {
  //height: var(--form-control-height-md);
  &:has(textarea) {
    height: auto !important;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-md);
  }


  input[type="color"] {
    height: var(--input-height-md);
  }


  input[type="radio"] {
    width: var(--input-radio-size-md);
    height: var(--input-radio-size-md);
  }


  input[type="checkbox"]:not([role="switch"]) {
    width: var(--input-checbox-size-md);
    height: var(--input-checbox-size-md);


    &:checked {
      &::after {
        font-size: calc(var(--input-checbox-size-md) - .2rem);
      }
    }
  }


  input[type="checkbox"][role="switch"] {
    width: calc(var(--input-switch-height-md) * 2);
    height: var(--input-switch-height-md);


    /* Le "bouton" rond */
    &::after {
      width: calc(var(--input-switch-height-md) - .4rem);
      height: calc(var(--input-switch-height-md) - .4rem);
    }


    &:checked {
      &::after {
        left: calc(100% - .2rem - calc(var(--input-switch-height-md) - .4rem));
      }
    }
  }


  input[type="range"] {


    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-md); /* épaisseur de la barre */
    }


    &::-moz-range-track {
      height: var(--input-range-bar-height-md);
    }


    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-md);
      height: var(--input-range-button-size-md);
      margin-top: calc(
              (var(--input-range-bar-height-md) - var(--input-range-button-size-md)) / 2
      );
    }


    &::-moz-range-thumb {
      width: var(--input-range-button-size-md);
      height: var(--input-range-button-size-md);
    }


    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-md);
    }


  }


  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: var(--input-height-md);
    }
  }


}


.form-control-lg {
  //height: var(--form-control-height-lg);
  &:has(textarea) {
    height: auto !important;
  }


  input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
    //input[type="radio"],
    //input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
    //textarea
  {
    height: var(--input-height-lg);
  }


  input[type="color"] {
    height: var(--input-height-lg);
  }


  input[type="radio"] {
    width: calc(var(--input-switch-height-lg) - .4rem);
    height: calc(var(--input-switch-height-lg) - .4rem);
  }


  input[type="checkbox"]:not([role="switch"]) {
    width: var(--input-checbox-size-lg);
    height: var(--input-checbox-size-lg);


    &:checked {
      &::after {
        font-size: calc(var(--input-checbox-size-lg) - .2rem);
      }
    }
  }


  input[type="checkbox"][role="switch"] {
    width: calc(var(--input-switch-height-lg) * 2);
    height: var(--input-switch-height-lg);


    /* Le "bouton" rond */
    &::after {
      width: calc(var(--input-switch-height-lg) - .4rem);
      height: calc(var(--input-switch-height-lg) - .4rem);
    }


    &:checked {
      &::after {
        left: calc(100% - .2rem - calc(var(--input-switch-height-lg) - .4rem));
      }
    }
  }


  input[type="range"] {


    &::-webkit-slider-runnable-track {
      height: var(--input-range-bar-height-lg); /* épaisseur de la barre */
    }


    &::-moz-range-track {
      height: var(--input-range-bar-height-lg);
    }


    &::-webkit-slider-thumb {
      width: var(--input-range-button-size-lg);
      height: var(--input-range-button-size-lg);
      margin-top: calc(
              (var(--input-range-bar-height-lg) - var(--input-range-button-size-lg)) / 2
      );
    }


    &::-moz-range-thumb {
      width: var(--input-range-button-size-lg);
      height: var(--input-range-button-size-lg);
    }


    /* Pour Firefox (track derrière) */
    &::-moz-range-progress {
      height: var(--input-range-bar-height-lg);
    }


  }


  input[type="file"] {
    /* Le BOUTON natif (Chrome/Safari/Edge) */
    &::file-selector-button {
      height: var(--input-height-lg);
    }
  }
}

.validated {

  .form-control,
  .form-control-sm,
  .form-control-md,
  .form-control-lg {

    input[type="button"],
    input[type="checkbox"],
    input[type="color"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="file"],
    input[type="hidden"],
    input[type="image"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="radio"],
    input[type="range"],
    input[type="reset"],
    input[type="search"],
    input[type="submit"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
      &[aria-invalid="true"],
      &:invalid {
        border-color: var(--input-border-color-invalid) !important;
        &:focus {
          box-shadow: var(--input-box-shadow-invalid) !important;
        }
      }
      &[aria-invalid="false"],
      &:valid {
        border-color: var(--input-border-color-valid) !important;
        &:focus {
          box-shadow: var(--input-box-shadow-valid) !important;
        }
      }
    }


    //input[type="button"],
    //input[type="checkbox"],
    //input[type="color"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="file"],
    input[type="hidden"],
      //input[type="image"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
      //input[type="radio"],
      //input[type="range"],
      //input[type="reset"],
    input[type="search"],
      //input[type="submit"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
      //select,
    textarea {
      &[aria-invalid="false"],
      &:valid{
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1.5rem;
        padding-right: 3rem;
        background-image: var(--input-icon-valid-svg);
      }

      &[aria-invalid="true"],
      &:invalid {
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1.5rem;
        padding-right: 3rem;
        background-image: var(--input-icon-invalid-svg);
      }
    }

    select {
      &[aria-invalid="false"],
      &:valid {
        background-image: /* flèche */
                var(--input-icon-select-arrow-svg),
                  /* check vert */
                var(--input-icon-valid-svg);
      }

      &[aria-invalid="true"],
      &:invalid {
        background-image: /* flèche */
                var(--input-icon-select-arrow-svg),
                  /* croix rouge */
                var(--input-icon-invalid-svg);
      }
    }

    input[type="range"] {
      &[aria-invalid="false"],
      &:valid {
        &::-webkit-slider-runnable-track {
          background: var(--success-color) !important;
        }


        &::-moz-range-track {
          background: var(--success-color) !important;
        }


        &::-webkit-slider-thumb {
          border-color: var(--success-color) !important;
        }


        &::-moz-range-progress {
          background: var(--success-color) !important;
        }
      }

      &[aria-invalid="true"],
      &:invalid {
        &::-webkit-slider-runnable-track {
          background: var(--danger-color) !important;
        }


        &::-moz-range-track {
          background: var(--danger-color) !important;
        }


        &::-webkit-slider-thumb {
          border-color: var(--danger-color) !important;
        }


        &::-moz-range-progress {
          background: var(--danger-color) !important;
        }
      }
    }

    input[type="radio"] {
      &[aria-invalid="false"],
      &:valid {
        &:checked {
          background: radial-gradient(
                          circle,
                          var(--success-color) 0%,
                          var(--success-color) 40%,
                          var(--input-bg-color) 55%,
                          var(--input-bg-color) 100%
          ) !important;
        }
      }

      &[aria-invalid="true"],
      &:invalid {
        &:checked {
          background: radial-gradient(
                          circle,
                          var(--danger-color) 0%,
                          var(--danger-color) 40%,
                          var(--input-bg-color) 55%,
                          var(--input-bg-color) 100%
          ) !important;
        }
      }
    }

    input[type="checkbox"]:not([role="switch"]) {
      &[aria-invalid="false"],
      &:valid {
        &:checked {
          background: var(--success-color) !important;


          &::after {
            content: "✓";
            color: var(--text-on-success) !important;
          }
        }
      }

      &[aria-invalid="true"],
      &:invalid {
        &:checked {
          background: var(--danger-color) !important;


          &::after {
            content: "✓";
            color: var(--text-on-danger) !important;
          }
        }
      }
    }

    input[type="checkbox"][role="switch"] {
      &[aria-invalid="false"],
      &:valid {
        background: var(--success-color) !important;
      }

      &[aria-invalid="true"],
      &:invalid {
        background: var(--danger-color) !important;
      }
    }

    input[type="file"] {

      &[aria-invalid="false"],
      &:valid {
        &::file-selector-button {
          color: var(--text-on-success);
          background: var(--success-color);
        }


        /* Hover */
        &::file-selector-button:hover {
          background: color-mix(in srgb, var(--success-color), black 15%);
        }
      }

      &[aria-invalid="true"],
      &:invalid {
        &::file-selector-button {
          color: var(--text-on-danger);
          background: var(--danger-color);
        }


        /* Hover */
        &::file-selector-button:hover {
          background: color-mix(in srgb, var(--danger-color), black 15%);
        }
      }
    }

    label:has(:where(input, select, textarea):where([aria-invalid="false"], :valid)),
    label:has(+ :where(input, select, textarea):where([aria-invalid="false"], :valid)) {
      color: var(--success-color) !important;
    }


    /* ❌ ERROR (rouge) seulement si le champ a été touché ET est invalide */
    label:has(:where(input, select, textarea):where([aria-invalid="true"], :invalid)),
    label:has(+ :where(input, select, textarea):where([aria-invalid="true"], :invalid)) {
      color: var(--danger-color) !important;
    }


  }

}





















