@mixin list-base {
  list-style: none;
  border-radius: var(--list-border-radius);
  border-style: var(--list-border-style);
  border-color: var(--list-border-color);
  background-color: var(--list-bg-color);
  border-width: var(--list-border-width);
  color: var(--list-text-color);


  > * {
    &:not(:last-child) {
      border-bottom-width: 0;
      border-bottom-style: var(--list-item-border-style);
      border-bottom-color: var(--list-item-border-color);
    }
  }


  .list-item, {
    display: block;

    &:first-child {
      border-top-left-radius: calc(var(--list-border-radius) - var(--list-border-width));
      border-top-right-radius: calc(var(--list-border-radius) - var(--list-border-width));
    }

    &:last-child {
      border-bottom-left-radius: calc(var(--list-border-radius) - var(--list-border-width));
      border-bottom-right-radius: calc(var(--list-border-radius) - var(--list-border-width));
    }
  }


  &.list-bordered {
    border-width: var(--list-border-width);

    > * {
      &:not(:last-child) {
        border-bottom-width: var(--list-item-border-width);
      }
    }
  }

  &.list-borderless {
    border-width: 0;

    > * {
      &:not(:last-child) {
        border-bottom-width: 0;
      }
    }
  }

  &.list-hover {
    .list-item:hover {
      cursor: pointer;
    }
  }
  .list-item.list-hover:hover {
    cursor: pointer;
  }
}

.list {
  @include list-base;

  .list-item {
    padding: var(--list-item-padding);
  }

  .list-item > .list-link {
    display: block;
    width: 100%;
    padding: var(--list-item-padding);
  }

  .list-item:has(.list-link) {
    padding: 0;
  }
}



$list-sizes: (
        sm: var(--list-item-padding-sm),
        md: var(--list-item-padding-md),
        lg: var(--list-item-padding-lg)
);

@each $name, $value in $list-sizes {
    .list-#{$name} {
        @include list-base;

        .list-item {
            padding: $value;
        }

        .list-item > .list-link {
            display: block;
            width: 100%;
            padding: $value;
        }

        .list-item:has(.list-link) {
            padding: 0;
        }
    }
}



