@mixin list-base {
  list-style: none;
  border-radius: var(--list-border-radius);
  border-style: var(--list-border-style);
  border-color: var(--list-border-color);
  background-color: var(--list-bg-color);
  border-width: var(--list-border-width);
  color: var(--list-text-color);

  > * {
    &:not(:last-child) {
      border-bottom-width: 0;
      border-bottom-style: var(--list-item-border-style);
      border-bottom-color: var(--list-item-border-color);
    }
  }

  .list-item {
    display: block;

    &:first-child {
      border-top-left-radius: calc(var(--list-border-radius) - var(--list-border-width));
      border-top-right-radius: calc(var(--list-border-radius) - var(--list-border-width));
    }
    &:last-child {
      border-bottom-left-radius: calc(var(--list-border-radius) - var(--list-border-width));
      border-bottom-right-radius: calc(var(--list-border-radius) - var(--list-border-width));
    }
  }


  &.list-bordered {
    border-width: var(--list-border-width);

    > * {
      &:not(:last-child) {
        border-bottom-width: var(--list-item-border-width);
      }
    }
  }

  &.list-borderless {
    border-width: 0;

    > * {
      &:not(:last-child) {
        border-bottom-width: 0;
      }
    }
  }

  &.list-hover {
    .list-item:hover {
      cursor: pointer;
    }
  }
  .list-item.list-hover:hover {
    cursor: pointer;
  }
}

.list {
  @include list-base;

  .list-item {
    line-height: var(--list-item-height);
    padding: var(--list-item-padding);
    height: var(--list-item-height);
  }
}

.list-sm {
  @include list-base;

  .list-item {
    height: var(--list-item-height-sm);
    padding: var(--list-item-padding-sm);
    line-height: var(--list-item-height-sm);
  }
}

.list-md {
  @include list-base;

  .list-item {
    height: var(--list-item-height-md);
    padding: var(--list-item-padding-md);
    line-height: var(--list-item-height-md);
  }
}

.list-lg {
  @include list-base;

  .list-item {
    height: var(--list-item-height-lg);
    padding: var(--list-item-padding-lg);
    line-height: var(--list-item-height-lg);
  }
}

