.list {
  list-style: none;
  border-radius: var(--list-border-radius);
  border-width: var(--list-border-width);
  border-style: var(--list-border-style);
  border-color: var(--list-border-color);
  background-color: var(--list-bg-color);

  &.list-hover{
    .list-item{
      cursor: pointer;
    }
  }


  > * {
    &:not(:last-child) {
      border-bottom-width:  var(--list-item-border-width);
      border-bottom-style: var(--list-item-border-style);
      border-bottom-color: var(--list-item-border-color);
    }
  }

  .list-item {
    line-height: var(--list-item-height);
    padding: var(--list-item-padding);
    height: var(--list-item-height);
    display: inline-block;
    width: 100%;
  }
}

.list-sm{
  @extend .list;
  .list-item{
    height: var(--list-item-height-sm);
    padding: var(--list-item-padding-sm);
    line-height: var(--list-item-height-sm);
  }
}

.list-md{
  @extend .list;
  .list-item{
    height: var(--list-item-height-md);
    padding: var(--list-item-padding-md);
    line-height: var(--list-item-height-md);
  }
}

.list-lg{
  @extend .list;
  .list-item{
    height: var(--list-item-height-lg);
    padding: var(--list-item-padding-lg);
    line-height: var(--list-item-height-lg);
  }
}

