@use "sass:map";
/* Breakpoints */
$breakpoints: (
        "xs": 42.5rem,
        "sm": 57.6rem,
        "md": 76.8rem,
        "lg": 99.2rem,
        "xl": 120rem,
        "xxl": 140rem
);

@mixin navbar($max-width) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--navbar-padding);
  border: var(--navbar-border);
  border-radius: var(--navbar-border-radius);

  .navbar-btn {
    display: none;
  }

  .navbar-collapse,
  .navbar-collapse.show {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: var(--navbar-collapse-gap);

    &.nav-start,
    &.nav-left {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.nav-center {
      justify-content: center;
      align-items: center;
    }

    &.nav-end,
    &.nav-right {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .navbar-nav {
    display: flex;
    list-style: none;
    gap: var(--navbar-nav-gap);
  }

  @media (max-width: $max-width) {
    flex-wrap: wrap;

    .navbar-btn {
      display: block;
    }

    .navbar-collapse {
      display: none;

      &.show {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--navbar-collapse-gap);


        &.nav-start-sm,
        &.nav-left-sm {
          justify-content: flex-start;
          align-items: flex-start;
        }

        &.nav-center-sm {
          justify-content: center;
          align-items: center;
        }

        &.nav-end-sm,
        &.nav-right-sm {
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }

    .navbar-nav {
      margin: var(--navbar-nav-margin);
      flex-direction: column;
    }
  }
}

.navbar {
  @include navbar(map.get($breakpoints, "md"));
}

@each $name, $bp in $breakpoints {
  .navbar-#{$name} {
    @include navbar($bp);
  }
}

// Nav side base
@mixin nav-side-base {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width .25s ease, transform .25s ease;;
  background: var(--bg-color);
  width: var(--nav-side-width);
}

// Nav side left
.nav-side,
.nav-side-left {
  @include nav-side-base;
  left: 0;
  transform: translateX(-100%);
  border-right: .1rem solid var(--border-color);
  border-top-right-radius: var(--nav-border-radius);
  border-bottom-right-radius: var(--nav-border-radius);

  &.show {
    width: var(--nav-side-width);
    transform: translateX(0);
  }
}

// Nav side right
.nav-side-right {
  @include nav-side-base;
  right: 0;
  transform: translateX(100%);
  border-left: .1rem solid var(--border-color);
  border-top-left-radius: var(--nav-border-radius);
  border-bottom-left-radius: var(--nav-border-radius);

  &.show {
    width: var(--nav-side-width);
    transform: translateX(0);
  }
}
