@use "sass:map";
/* Breakpoints */
@use "../breakpoint" as bp;
$breakpoints: bp.$breakpoints;

@mixin navbar($max-width) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--navbar-padding);
  //border: var(--navbar-border);
  border-color: var(--navbar-border-color);
  border-style: var(--navbar-border-style);
  border-width: var(--navbar-border-width);
  border-radius: var(--navbar-border-radius);

  .navbar-btn {
    display: none;
  }

  .navbar-collapse,
  .navbar-collapse.show {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: var(--navbar-collapse-gap);
    justify-content: flex-end;
    align-items: flex-end;

    &.nav-start,
    &.nav-left {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.nav-center {
      justify-content: center;
      align-items: center;
    }

    &.nav-end,
    &.nav-right {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .navbar-nav {
    display: flex;
    list-style: none;
    gap: var(--navbar-nav-gap);
  }

  @media (max-width: $max-width) {
    flex-wrap: wrap;

    .navbar-btn {
      display: block;
    }

    .navbar-collapse {
      display: none;

      &.show {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--navbar-collapse-gap);
        justify-content: flex-start;
        align-items: flex-start;



        &.nav-left-collapse,
        &.nav-start-collapse {
          justify-content: flex-start;
          align-items: flex-start;
        }

        &.nav-center-collapse {
          justify-content: center;
          align-items: center;
        }

        &.nav-end-collapse,
        &.nav-right-collapse {
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }

    .navbar-nav {
      margin: var(--navbar-nav-margin);
      flex-direction: column;
    }
  }
}

.navbar {
  @include navbar(map.get($breakpoints, "md"));
}

@each $name, $bp in $breakpoints {
  .navbar-#{$name} {
    @include navbar($bp);
  }
}