// Nav side base
@mixin sidebar-base {
  top: 0;
  bottom: 0;
  z-index: 20;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--sidebar-bg-color);
}

@mixin side-base{
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
  transition: width var(--sidebar-transition-time) ease, transform var(--sidebar-transition-time) ease;
  &.show {transform: translateX(0);}
  .side-header,
  .side-body,
  .side-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sidebar-shrink-content-gap);
  }
}

@mixin left-base{
  border-right: var(--sidebar-border-color) var(--sidebar-border-style) var(--sidebar-border-width);
  border-top-right-radius: var(--sidebar-border-radius);
  border-bottom-right-radius: var(--sidebar-border-radius);
}

@mixin right-base{
  border-left: var(--sidebar-border-color) var(--sidebar-border-style) var(--sidebar-border-width);
  border-top-left-radius: var(--sidebar-border-radius);
  border-bottom-left-radius: var(--sidebar-border-radius);
}

@mixin shrink-base{
  width: var(--sidebar-shrink-width-reduce);
  padding: var(--sidebar-shrink-padding);
  transition: width var(--sidebar-transition-time) ease;

  &.show{width: var(--sidebar-shrink-width);}

  .side-shrink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .side-header,
  .side-body,
  .side-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--sidebar-shrink-content-gap);
  }

  .side-item {
    gap: var(--sidebar-shrink-item-gap);
    display: flex;
    justify-content: center;

    &.open{
      justify-content: flex-start;
      .side-text {
        white-space: nowrap;
        display: block;
      }
    }
  }

  .side-text {display: none;}

  .fade-out-in {animation: fade-out-in var(--sidebar-transition-time) ease;}
  .fade-in {animation: fade-in var(--sidebar-transition-time) ease-in;}
}

body:has(.sidebar.push){
  transition:
          margin-left var(--sidebar-transition-time) ease,
          margin-right var(--sidebar-transition-time) ease;
}

/* push */
body:has(.sidebar.side-left.push.show) { margin-left: var(--sidebar-width); }
body:has(.sidebar.side-right.push.show) { margin-right: var(--sidebar-width); }

/* fixed */
body:has(.sidebar.fixed-left) { margin-left: var(--sidebar-width); }
body:has(.sidebar.fixed-right) { margin-right: var(--sidebar-width); }

/* shrink */
body:has(.sidebar.shrink-left) { margin-left: var(--sidebar-shrink-width-reduce); }
body:has(.sidebar.shrink-left.push.show) { margin-left: var(--sidebar-shrink-width); }

body:has(.sidebar.shrink-right) { margin-right: var(--sidebar-shrink-width-reduce); }
body:has(.sidebar.shrink-right.push.show) { margin-right: var(--sidebar-shrink-width); }


.sidebar {
  @include sidebar-base;

  &.side-left {
    left: 0;
    transform: translateX(-100%);
    @include side-base;
    @include left-base;
  }

  &.side-right {
    left: auto;
    right: 0;
    transform: translateX(100%);
    @include side-base;
    @include right-base;
  }

  &.fixed-left {
    left: 0;
    padding: var(--sidebar-padding);
    @include side-base;
    @include left-base;
  }

  &.fixed-right {
    left: auto;
    right: 0;
    padding: var(--sidebar-padding);
    @include side-base;
    @include right-base;
  }

  &.shrink-left {
    left: 0;
    @include shrink-base;
    @include left-base;
  }

  &.shrink-right {
    left: auto;
    right: 0;
    @include shrink-base;
    @include right-base;
  }

}
