// Tab
.tab {
  display: flex;
  overflow-x: auto;

  .tab-btn{padding: var(--tab-button-padding);}
  .tab-btn-sm{padding: var(--tab-button-padding-sm);}
  .tab-btn-md{padding: var(--tab-button-padding-md);}
  .tab-btn-lg{padding: var(--tab-button-padding-lg);}

  .tab-btn,
  .tab-btn-sm,
  .tab-btn-md,
  .tab-btn-lg{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    &:not([class*="outline-"]) {
      border: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:first-child {
      border-top-left-radius: var(--tab-button-radius);
      border-bottom-left-radius: var(--tab-button-radius);
    }

    &:last-child {
      border-top-right-radius: var(--tab-button-radius);
      border-bottom-right-radius: var(--tab-button-radius);
    }
  }
}

// Tab content
.tab-content {
  display: none;
  border: var(--tab-content-border);
  padding: var(--tab-content-padding);
  border-radius: var(--tab-content-border-radius);

  &.show {
    display: block;
  }
}