/* Breakpoints */
$breakpoints: (
        "xs": 42.5rem, // 420px
        "sm": 57.6rem, // 576px
        "md": 76.8rem, // 758px
        "lg": 99.2rem, // 992px
        "xl": 120rem, //1200px
        "xxl": 140rem //1400px
);